
/* 1.1 - èƒŒæ™¯é¢œè‰² */
.settings-footer_background{background-color:#333333}
.settings-main_background{background-color:#ffffff}
.settings-body_background{background-color:#ffffff}
.settings-pro_background{background-color:#f4f4f4}
.settings-buyBtn_background{background-color:#ff5555}
.settings-mainBtn_background{background-color:#55aa77}
.settings-nav_background{background-color:#333333}
.settings-mainBtnDisabled_background{background-color:}
.settings-optionSelected_background{background-color:#eeeeee}
.settings-optionUnSelected_background{background-color:#ffffff}
.settings-optionDisabled_background{background-color:#f7f7f7}
/*  */
.settings-top_background{background-color:#ffffff}
.settings-head_background{background-color:#ffffff}
.settings-navSub_background{background-color:#ffffff}
.settings-formTitle_background{background-color:#f0f0f0}
.settings-form_background{background-color:#f0f0f0}

/* 1.2 - è¾¹æ¡†é¢œè‰² */
.settings-main_border{border-color:#dddddd}
.settings-ipt_border{border-color:#d5d5d5}
.settings-theme_border{border-color:#55aa77}
.settings-optionSelected_border{border-color:#555555}
.settings-optionUnSelected_border{border-color:#dddddd}
.settings-optionDisabled_border{border-color:#e2e2e2}
/*  */
.settings-navLinkHover_border{border-bottom-color:#ffffff}
.settings-proPic_border{border-color:#d2d2d2}

/* 1.3 - å­—ä½“é¢œè‰² */
.settings-h1_color{color:#6b6b6b}
.settings-h1_color:visited{color:#6b6b6b}
.settings-top_color{color:#636968}
.settings-text_color{color:#212121}
.settings-text_color:visited{color:#212121}
.settings-proTitle_color{color:#333333}
.settings-proTitle_color:visited{color:#333333}
.settings-price_color{color:#ff5555}
.settings-desc_color{color:#999999}
.settings-footerLink_color{color:#ffffff}
.settings-footerLink_color:hover{color:#bdbdbd!important}
.settings-footerLink_color:visited{color:#ffffff}
.settings-footer_payment_icon_color{color:#838383;}
.blog_cont a {color:#55aa77}
.settings-link_color{color:#55aa77}
.blog_cont a:visited {color:#55aa77}
.settings-navLink_color{color:#ffffff}
.settings-navLink_color:visited{color:#ffffff}
.settings-navSubLink_color{color:#555555}
.settings-navSubLink_color:visited{color:#555555}
.settings-buyBtn_color{color:#ffffff}
.settings-buyBtn_color:visited{color:#ffffff}
.settings-mainBtn_color{color:#ffffff}
.settings-mainBtnDisabled_color{color:}
.settings-inputImpt_color{color:#fe434c}
.settings-optionSelected_color{color:#555555}
.settings-optionUnSelected_color{color:#333333}
.settings-optionDisabled_color{color:#cccccc}
/*  */
.settings-footer_color{color:#9b9b9b}
.settings-orgprice_color{color:#999999}
.settings-blog_desc_color{color:#aaaaaa;}
.settings-post_desc_color{color:#777;}

/* 1.4 - å›ºå®šé¢œè‰² */
.settings-mainBtnDisabled_background{background-color:#e0e0e0}
.settings-mainBtnDisabled_color{color:#a3a3a3}
.settings-package_background{background-color:#fffae4}
.settings-package_color{color:#C09F0A}
.settings-package_border{border-color:#C09F0A}

* {-webkit-tap-highlight-color: rgba(0,0,0,0);}
/* ============================= */
/*      SECTION 2  ä¸ªæ€§æ ·å¼      */
/* ============================= */

/* 2.1 - ç»„ä»¶ */
.main-ico{display:inline-block;vertical-align:middle;overflow:hidden;position:relative;background-image: url('//asset.ibanquan.com/s/78233/0/main?design_theme_id=0&v=1583843934_1583843934');}
.main-ico-cart{height:18px;width:20px;background-position:-36px 0;}
.main-ico-search{height:18px;width:18px;background-position:-36px -36px;}
.main-ico-sildeLeft{height:56px;width:56px;background-position:-72px 0;}
.main-ico-sildeRight{height:56px;width:56px;background-position:-144px 0;}
.main-ico-up{height:5px;width:10px;background-position:-150px -80px;}
.main-ico-down{height:5px;width:10px;background-position:-150px -70px;}
.body-ico-white .main-ico-cart{background-position:0 0;}
.body-ico-white .main-ico-search{background-position:0 -36px;}
.go_top {position: fixed;z-index:2;}
.go_top-btn{display:block;position:absolute;left: 0;overflow:hidden;background-image:url(//asset.ibanquan.com/s/78233/0/goTop?design_theme_id=0&v=1583843934_1583843934)}
.go_top-go {top: 0; display: none;}
.go_top-service {bottom: 0;}
.ie6 .go_top {position:absolute}
.go_top-style-1.go_top {right: 2%; top: 70%; width: 60px;height: 134px;}
.go_top-style-1 .go_top-go{width: 60px;height: 42px;background-position: -128px 0;}
.go_top-style-1 .go_top-go:hover{background-position: -188px 0;}
.go_top-style-1 .go_top-service{width: 60px;height: 82px;background-position: 0 0;}
.go_top-style-1 .go_top-service:hover{background-position: -60px 0;}
.go_top-style-2.go_top {right: 1%; top: 70%; width: 64px;height: 132px;}
.go_top-style-2 .go_top-go{width: 64px;height:66px;background-position: -128px -82px;}
.go_top-style-2 .go_top-go:hover{background-position: -192px -82px;}
.go_top-style-2 .go_top-service{width: 64px;height: 66px;background-position: 0 -82px;}
.go_top-style-2 .go_top-service:hover{background-position: -64px -82px;}
.go_top-style-3.go_top {right: 0; top: 70%; width: 87px;height: 124px;}
.go_top-style-3 .go_top-go{width: 87px;height:48px;background-position: -128px -148px;}
.go_top-style-3 .go_top-go:hover{background-position: -128px -196px;}
.go_top-style-3 .go_top-service{width:87px;height:48px;background-position: 0 -148px;}
.go_top-style-3 .go_top-service:hover{background-position: 0 -196px;}
.go_top-style-4.go_top {right: 2%; top: 80%; width:40px;height:82px;}
.go_top-style-4 .go_top-go{width:40px;height:36px;background-position: -128px -244px;}
.go_top-style-4 .go_top-go:hover{background-position: -168px -244px;}
.go_top-style-4 .go_top-service{width:40px;height:36px;background-position: 0 -244px;}
.go_top-style-4 .go_top-service:hover{background-position: -40px -244px;}

/* 2.2 - é¡¶éƒ¨ */
.page {min-width: 1120px;}
.wrapper-header{z-index:4;}
.header{height:48px;line-height:48px;position:relative;text-align:right;font-size:12px;z-index:1;}
.header-search-ico{height:28px;width:28px;line-height:28px;position:absolute;overflow:hidden;left:10px;top:12px;display:block;z-index:1;text-align:left;}
.header-search-ico .main-ico-search{margin-left:5px;vertical-align:top;margin-top:5px}
.header-search{width:0px;height:48px;position:absolute;left:10px;top:3px;z-index:0;opacity:0;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);vertical-align:top;text-align:left;}
.header-cart{width:65px;height:48px;display:inline-block;text-align:center;line-height:48px;}
.topCart-quantity{font-weight:700;margin-left:6px;}
.topCart ul{margin: 0;padding: 0;}
.ie6 .header-cart,
.ie7 .header-cart{display:inline;text-align:center;}
.ie6 .header-cart{padding-top:12px;}
.header-link{padding:0 10px;height:48px;display:inline-block;position:relative;z-index:0;vertical-align:top;line-height:50px; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.header-link:visited {color: #636968;}

.logo strong {display: block; font-weight: 400;}
.logo-link img {max-height: 100%; vertical-align:middle;max-width: 100%;}
.header-search input {
  border-width:1px;
  border-style:solid;
  border-radius: 3px;
  padding: 2px 6px 2px 26px;
  height: 22px;
  width: 150px;
  line-height:22px;
  vertical-align:top;
  margin-top:8px;
}
.ie7 .header-search input{margin-top:-3px}
.ie6 .header-search input{margin-top:3px}
.header-search-ico .main-ico-search {
  position: absolute;
  left: 6px;
  top: 4px;
  margin: 0;
}
.ie6 .header-search-ico .main-ico-search{top:2px}
/* 2.3 - åº•éƒ¨ */
.footer{height:150px;position:relative;font-size:12px;}
.footer-nav{padding: 32px 0 10px 0;line-height: 1.25;}
.footer-split{margin: 0 12px;}
.footer-copyright {line-height:1.6;width:50%;margin:10px 0 6px;}
.footer-payment .footer-payment-icon {margin-right: 10px;margin-bottom:10px; font-size: 24px;}
/* 2.4 - ä¸»é¡µ */
.wrapper-slide{padding-top:48px;}
.slide {
  position: relative;
  z-index: 0;
  overflow:hidden;
  margin:0 auto;
}
.slide-inner {
  border-radius: 3px;
  overflow: hidden;
}
.slide-inner .slide-link {
  width: 100%;
  overflow: hidden;
}
.slide-inner .slidesjs-container {
  z-index: 0;
  border-radius:3px;
  overflow:hidden;
}
.slide-inner .slide-cnt {
  display: none;
  position: relative;
  z-index: 0;
}
.slide-inner .slidesjs-previous,
.slide-inner .slidesjs-next {
  height: 56px;
  width: 56px;
  position: absolute;
  top: 50%;
  margin-top:-21px;
  z-index: 1;
}
.slide-inner .slidesjs-previous {
  left: 10px;
}
.slide-inner .slidesjs-next {
  right: 10px;
}
.slide-inner .slidesjs-play,
.slide-inner .slidesjs-stop{display:none;}

.slidesjs-navigation {display:block;}
.slidesjs-pagination {margin: 0;padding: 0;font-size:0;display:none;margin: 12px 0 0;position: relative;text-align:center}
.slidesjs-pagination-item{display:inline-block;margin:0 5px;}
.slidesjs-pagination-item a {width: 8px;height: 8px;display: inline-block;border-radius: 50px;border: 2px solid #55aa77;}
.slidesjs-pagination-item a.active {background-color:#55aa77;}

.wrapper-picshow{padding-top:30px;}
.wrapper-picshow .cont{overflow:hidden}
.picshow-inner{overflow:hidden;zoom:1;}
.picshow-inner-list{width:1032px;}
.pic-show-each{width:314px;margin-right:22px;border-radius:3px;float:left;display:block;overflow:hidden}
.pic-show-each img {max-width: 100%; display: block;}
/*.pic-show-each{width:314px;height:164px;margin-right:20px;border-radius:3px;float:left;display:block;overflow:hidden}*/

.wrapper-customPage{padding:80px 0 ;}
.wrapper-footer{margin-top:30px;}
.proList-ul {margin: 0;padding: 0;}
.proList-ul li{list-style: none;}
/* 2.5 - ä¸»å¯¼èˆª */
.wrapper-nav{z-index:3;}
.nav{height:48px;}
.nav-inner{height:48px;line-height:48px;}
.nav-link{margin: 0;padding: 0; text-align:center;width:100%;font-size:14px;position:relative;z-index:0;height:38px;line-height:46px;overflow:visible;white-space:nowrap;}
.nav-link li{display:inline-block;height:46px;margin:0 20px;position:relative;}
.nav-link a{display:inline-block;height:38px;white-space:nowrap;padding:0 8px;}
#top-nav-link.nav-link .active .settings-navLinkHover_border {height:36px;border-bottom-width:2px; border-bottom-style: solid;}
#top-nav-link.nav-link>li:nth-child(n+10) {display: none;}
#top-nav-link.nav-link li:last-child{border:none}
.ie7 #top-nav-link.nav-link li,
.ie6 #top-nav-link.nav-link li{display:inline;float:left;}
.ie7 #top-nav-link.nav-link .nav-sublink li {display:block;float:none;}
.ie6 #top-nav-link.nav-link .nav-sublink li {display:block;float:none;width: 50px;}

/* å­å¯¼èˆª */
#top-nav-link.nav-link .active .nav-sublink {
  display:block;
}
#top-nav-link .nav-sublink {
  font-size:14px;
  position:absolute;
  display:none;
  z-index:1;
  top:40px;
  left:0;
  padding-top: 7px;
}
.ie6 .nav-sublink,
.ie7 .nav-sublink {
  background-color:#333333
}

#top-nav-link .nav-sublink ul {
  padding:18px;
  border-style:solid;
  border-width:1px;
  border-radius:3px;
  line-height:38px;
}
#top-nav-link .nav-sublink li {
  display:block;
  height:auto;
  margin:0;
  text-align:left;
  white-space:nowrap;
  /* HTML åŠ  class settings-navSub_background å…¼å®¹ IE6 */
}
#top-nav-link .nav-sublink a {
  padding:0 14px;
  white-space:nowrap;
  display:inline;
  border:none;
  font-weight: normal;
}
#top-nav-link .nav-sublink li a:nth-child(n+2) {
  padding-right: 0;
}
#top-nav-link .nav-sublink li a:last-child {
  padding-right: 14px;
}
#top-nav-link .nav-sublink li {
  width: auto;
}
.ie8 .nav-sublink,
.ie7 .nav-sublink,
.ie6 .nav-sublink {
  left:0;
}
.ie7 .nav-sublink,
.ie6 .nav-sublink {
  text-align: left;
}

/* ç§»åŠ¨å¯¼èˆª */

.mobile_nav a:hover {color:#ffffff}

.mobile_nav .nav-link li:last-child{border:none}
.mobile_nav .nav-sublink{padding:18px;border-style:solid;border-width:1px;position:absolute;border-radius:3px;line-height:38px;display:none;z-index:1;top:47px;left:0}
.mobile_nav .nav-sublink li{display:block;height:auto;margin:0;text-align:left;white-space:nowrap}
.mobile_nav .nav-sublink a{padding:0 14px;white-space:nowrap;display:inline;border:none}

.nav-link-mobile{display:none}
.nav-link-mobile{height:21px;margin:0 auto;width:30px;position:relative;top:3px;overflow:hidden;padding-top:10px}
.nav-link-mobile span{display:block;height:5px;overflow:hidden;width:30px;background:#ffffff;border-radius:3px;margin-bottom:3px;}

.wrapper-mobile_nav{position:fixed;height:100%;overflow:hidden;z-index:9;left:-100%;top:0;width:100%;display:none;}
.wrapper-mobile_nav .cont{width:100%;height:100%;overflow:hidden;}
.mobile_nav{height:100%;overflow:hidden;padding:0}
.mobile_nav_menu {
  height: 100%;
  overflow: auto;
  width: 80%;
  z-index: 1;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.mobile_nav_bg{width:100%;height:100%;position:absolute;left:0;top:0;z-index:0}
.mobile_nav .nav-link{height:auto;width:auto;display:block;text-align:left;}
.mobile_nav .nav-link li{display:block;height:auto;line-height:46px}
.mobile_nav .nav-sublink{display:block;position:relative;top:0;border:0;padding:0}
.mobile_nav .nav-sublink ul{margin-left:24px;}

/* 2.6 - å•†å“é¡µ */
.pro-detail-inner h1 {font-size: 18px;font-weight: 700;line-height: 1.2;margin: 0;}
.pro-detail-inner .pro-detail-left{float:left}
.pro-detail-inner .pro-detail-left .pro-detail-gallery{float:none}
.pro-detail-inner .pro-detail-left .bdsharebuttonbox{float:right}
.pro-detail-inner .pro-detail-gallery-main a {position: relative; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAMAAADXEh96AAAABlBMVEXi4uL////QNzhYAAAAGElEQVR4AWNgBAEGBjAJhEASgiB8hCQjAAKgAB968X12AAAAAElFTkSuQmCC) repeat;}
.pro-detail-inner .pro-detail-gallery-main a span {position: absolute;right: 0;bottom: 0;height: 36px;width: 36px;pointer-events:none; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAIVBMVEX////////39/j29fb08/Xz8fPv7vDs6+3r6ezp5+rl5ObBgIjfAAAAeUlEQVR42u3TMQ7EMAhE0XwIOOz9D7yS1wnVbKp0mWqKZ0sgsXncZ4vPfV70HBoGeP1Fzi8p0DJZVQ4p0YBjloRSyMhuCvX7IDQ6W2IaHavt+ifHLz4UqnN0A72nBIvcATHdUldSoMkiYkycAnWWaiSVRq38Pakn0Bd56C4XXDNLsAAAAABJRU5ErkJggg==);}
.pro-detail-inner .pro-detail-gallery-list {position: relative; margin-top: 25px;}
.pro-detail-inner .pro-detail-gallery-list a {border: 3px solid transparent;font-size: 0;}
.pro-detail-inner .pro-detail-gallery-list a.pro-detail-gallery-list-current {border-color: #333;}
.pro-detail-inner .pro-detail-gallery-list a.pro-detail-gallery-list-current img {filter:alpha(opacity=100); opacity: 1;}
.pro-detail-inner .pro-detail-gallery-list a.hidden{display: none;}
.pro-detail-inner .pro-detail-gallery-list .pro-detail-gallery-list-btns { position: absolute; right: 0; display: inline-block; height: 25px; font-size: 24px; font-weight: 700; line-height: 25px; width: 75px; text-align: center; color: #DDDDDD; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
.pro-detail-inner .pro-detail-gallery-list .pro-detail-gallery-list-btns img {display: inline-block; height: 100%;}
.pro-detail-inner .pro-detail-gallery-list .pro-detail-gallery-list-prev { top: -25px; }
.pro-detail-inner .pro-detail-gallery-list .pro-detail-gallery-list-next { bottom: -25px; }
.pro-detail-price{line-height: 1;}
.pro-detail-quantity h3{margin: 0; line-height: 1;}
.pro-detail-quantity-ipt {font-size: 13.3333330154419px; color: #000;}
.prolist-spfilter .prolist-spfilter-head{font-weight: 400;}
.pageTitle h2{font-size: inherit;}
.cartTitle h2{font-size: 100%;}
.cart-table .cart-table-item p{margin-bottom: 0;}


.prolist-spfilter .prolist-spfilter-pagenation-next,.prolist-spfilter .prolist-spfilter-pagenation-prev {width: 50px;height: 50px;line-height: 50px;border:1px solid #111;border-radius:0;font-size: 18px;}
.prolist-spfilter-pagenation-next-disable,.prolist-spfilter-pagenation-prev-disable{
  background:#fff;opacity:.3;
}
.prolist-spfilter .prolist-spfilter-pagenation-status {
    height: 50px;
    line-height: 50px;
    right:130px;
}
.prolist-spfilter .prolist-spfilter-pagenation-prev {
    right: 60px;
}
@media screen and (max-width:768px){
.pro-detail-inner .pro-detail-left{width:100%;float:none}
.prolist-spfilter .prolist-spfilter-pagenation-prev {left:0;}
.prolist-spfilter .prolist-spfilter-page {width:100%; vertical-align: top;}
.prolist-spfilter .prolist-spfilter-pagenation-status {right: 76px;}
.pro-detail-inner .pro-detail-gallery-list {text-align: center;}
.pro-detail-inner .pro-detail-gallery-list a {border-width: 1px;}
.pro-detail-inner .pro-detail-gallery-list .pro-detail-gallery-list-btns { top: 0; bottom: auto; height: 69px; line-height: 69px; width: 25px; }
.pro-detail-inner .pro-detail-gallery-list .pro-detail-gallery-list-btns img {width: 100%; height: auto;}
.pro-detail-inner .pro-detail-gallery-list .pro-detail-gallery-list-prev { left: -4px; }
.pro-detail-inner .pro-detail-gallery-list .pro-detail-gallery-list-next { right: -4px; }
.prolist-spfilter .prolist-spfilter-pagenation-status{
  position:relative;right:auto;
}
.prolist-spfilter .prolist-spfilter-pagenation {
    text-align: center;
}
}


/* 2.7 - å“ç‰Œé¡µ */
.vendor-list {
  margin-top: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.vendor-list * {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit;
}
.vendor-each {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding-left: 24%;
  padding-right: 70px;
  min-height: 250px;
  margin-bottom: 20px;
}
.vendor-each i {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  margin-left: -1px;
}
.vendor-each-left {
  width: 24%;
  position: absolute;
  top: 0;
  left: 0;
  height: 248px;
  font-size: 0;
}
.vendor-each-img-box {
  display: inline-block;
  vertical-align:middle;
  width: 100%;
  text-align: center;
}
.vendor-each-img-border {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  max-width: 80%;
}
.vendor-each-img-inner {
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
.vendor-each-img-inner img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.vendor-each-right {
  display: table;
  width: 100%;
  height: 248px;
}
.vendor-each-content {
  display: table-cell;
  padding: 45px 0;
  vertical-align: middle;
}
.vendor-each-content h1 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 25px;
  color: #333;
  vertical-align: middle;
}
.vendor-each-subtitle {
  font-size: 16px;
  color: #444;
}
.vendor-each-content p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .vendor-each {
    padding-left: 30%;
    padding-right: 10px;
    min-height: 160px;
  }
  .vendor-each-left {
    width: 30%;
    height: 158px;
  }
}

/* 2.8 æ–‡ç« åˆ—è¡¨ */
.post-wrapper {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box--sizing: border-box;
  box-sizing: border-box;
}
.post-side {
  float: left;
  margin-left: -260px;
  width: 260px;
}
.post {
  min-height: 500px;
}
.post .wrapper {
  padding-top: 20px;
}
.post .cont {
  width: 100%;
}
.posts-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 30px 15px 30px 0;
  border-width: 0 0 1px 0;
  border-style: solid;
}
.posts-item-left {
  display: table-cell;
  vertical-align: top;
  width: 204px;
  height: 140px;
  overflow: hidden;
  text-align: center;
}
.posts-item-left img {
  max-width: 100%;
  max-height: 100%;
}
.posts-item-left img.loading {
  margin-top: 30%;
}
.posts-item-body {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
}
.posts-item-publish_at {
  font-size: 12px;
}
.posts-item-heading {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin: 14px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.posts-item-summary {
  font-size: 14px;
  line-height: 1.25;
  margin: 0;
}
.posts-item-tags {
  margin-top: 16px;
}
.posts-item-tags-tag {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  font-size: 12px;
  text-decoration: none;
  line-height: 18px;
}
.posts-item-tags-tag .posts-item-tags-tag-icon {
  display: inline-block;
  width: 19px;
  height: 18px;
  background-image: url(//asset.ibanquan.com/s/78233/0/main?design_theme_id=0&v=1583843934_1583843934);
  background-position: -100px -70px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-right: 2px;
}
.post-dirs-heading {
  line-height: 58px;
  font-size: 16px;
}
.post-dirs-heading span {
  display: inline-block;
  vertical-align: sub;
  line-height: 16px;
}
.post-dirs-list {
  margin: 0;
  padding: 0 0 10px 0;
  list-style: none;
  border-width: 1px 0 0 0;
  border-style: solid;
  font-size: 14px;
  line-height: 20px;
}
.post-dir-dot {
  margin: 0 12px;
}
.post-dir-dot:after {
  content: '.';
  display: inline-block;
  position: relative;
  top: -4px;
}
.post-dir-1,
.post-dir-2 {
  position: relative;
  margin-top: -1px;
  border-width: 1px 0 0 0;
  border-style: solid;
}
.post-dir-1-box {
  display: block;
  cursor: pointer;
  padding: 14px 0;
}
.post-dirs-sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post-dir-2-box {
  display: block;
  border-width: 0 0 1px 0;
  border-style: solid;
  cursor: pointer;
  padding: 14px 0 14px 14px;
}
.post-dirs-sub-sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post-dir-3-box {
  display: block;
  padding: 14px 0 14px 28px;
  cursor: pointer;
}

.post-dir-1-box:hover,
.active > .post-dir-1-box,
.post-dir-2-box:hover,
.active > .post-dir-2-box,
.post-dir-3-box:hover,
.active > .post-dir-3-box {
  background-color: #f6f6f6;
  color: #55aa77;
}

.post-dir-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 48px;
  width: 34px;
  padding-left: 10px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}
.post-dir-btn .main-ico-down {
  display: none;
}
.post-dir-btn.dir_off .main-ico-up {
  display: none;
}
.post-dir-btn.dir_off .main-ico-down {
  display: inline-block;
}

/*post tags*/
.post-tags-wrapper {
  padding-bottom: 20px;
}
.post-tags-heading {
  line-height: 58px;
  font-size: 16px;
  border-width: 0 0 1px;
  border-style: solid;
}
.post-tags-cloud {
  padding-top: 20px;
}
.post-tags-cloud-item {
  display: inline-block;
  line-height: 24px;
  padding: 0 10px;
  margin: 0 10px 10px 0;
  border-radius: 2px;
  background-color: #efefef;
  font-size: 13px;
}
.post-tags-cloud-item:hover,
.post-tags-cloud-item.active {
  color: #fff;
  background-color: #55aa77;
}

.post-info {
  font-size: 12px;
}
.post-content {
  padding: 30px 0;
}
.post-content img {
  max-width: 100%;
  height: auto;
}

.post-re-wrapper {
  padding-bottom: 20px;
}
.post-re-heading {
  line-height: 58px;
  font-size: 16px;
}
.post-re-heading span {
  display: inline-block;
  vertical-align: sub;
  line-height: 16px;
}
.post-re-list {
  margin-top: 10px;
  border-width: 1px 0 0 0;
  border-style: solid;
}
.post-re-each {
  display: block;
  position: relative;
  line-height: 20px;
  padding: 10px 0 10px 15px;
  font-size: 14px;
  border-width: 0 0 1px;
  border-style: solid;
}
.post-re-each:hover {
  color: #55aa77;
}
.post-re-each-dot{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  top: -3px;
}
.post-re-each-dot:before {
  content: '.';
  display: inline-block;
}

.post-bottom {
  position: relative;
  padding: 0 0 30px;
  text-align:left;
}
.post-bottom .posts-item-tags {
  padding-right: 120px;
}
.post-bottom .sharewrap {
  position: absolute;
  top: -5px;
  right: 50px;
  width: 120px;
}
.post-re-list-tip {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}
@media screen and (max-width:768px) {
  .post-wrapper {
    float: none;
    padding-right: 0;
  }
  .post {
    min-height: 200px;
  }
  .post-side {
    float: none;
    margin-left: 0;
    width: 100%;
  }
  .posts-item {
    padding: 15px 0;
  }
  .posts-item-left {
    width: 102px;
    height: 70px;
  }
  .posts-item-heading {
    font-size: 16px;
    margin: 7px 0;
  }
  .posts-item-tags {
    margin-top: 8px;
  }
  .post-dirs-heading,
  .post-tags-heading,
  .post-re-heading {
    line-height: 30px;
    font-size: 12px;
    padding-left: 5px;
    border-radius: 3px;
    background-color: #ffffff;
  }
  .post-dirs-heading span,
  .post-tags-heading span,
  .post-re-heading span {
    vertical-align: middle;
    line-height: 12px;
    border: none;
  }
  .post-dirs-list {
    font-size: 12px;
  }
  .post-dir-1-box:hover,
  .active > .post-dir-1-box,
  .post-dir-2-box:hover,
  .active > .post-dir-2-box,
  .post-dir-3-box:hover,
  .active > .post-dir-3-box {
    background: none;
  }
  .post-dir-1, .post-dir-2 {
    border: none;
  }
  .post-dir-1-box {
    padding: 7px 0;
    border: none;
  }
  .post-dir-2-box {
    padding: 7px 0 7px 14px;
    border: none;
  }
  .post-dir-3-box {
    padding: 7px 0 7px 28px;
  }
  .post-tags-cloud {
    padding-top: 10px;
  }
  .post-tags-cloud-item {
    font-size: 12px;
    line-height: 20px;
  }
  .post-wrapper .pageTitle {
    line-height: 30px;
    padding-bottom: 10px;
    font-size: 22px;
  }
  .post-content {
    padding: 15px 0;
  }
  .post-re-list {
    margin: 0;
    border: none;
  }
  .post-bottom {
    padding-bottom: 15px;text-align:left;
  }
  .post-bottom .sharewrap {
    position: static;
    display: inline-block;
    margin: 0 -5px 0 0;
    vertical-align: middle;
  }
  .post-bottom .posts-item-tags {
    padding: 0 0 10px 0;
  }
  .post-re-each {
    font-size: 12px;
  }
  .post-re-list-tip {
    font-size: 12px;
  }
}

.post-nav {
    margin: 40px 0;
    text-align: center;
    font-size: 0;
    line-height: 1;
}
.post-nav-link {
    display: inline-block;
    margin: 0 16px;
    padding: 0 20px;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border:2px solid #212121;
    color: #212121;
    text-decoration: none;
}


.post-nav-link.i-not {
    opacity:.3;
    cursor: not-allowed;
}
@media screen and (max-width: 750px) {
    .post-nav {
        margin: 30px 0;
    }
    .post-nav-link {
        margin: 0 20px;
        padding: 0 22px;
        font-size: 13px;
    }
}


/* ============================= */
/*      SECTION 3  åª’ä½“æŸ¥è¯¢      */
/* ============================= */
@media screen and (min-width:1250px){
  .picshow-inner-list{width:auto;}
  .pic-show-each{width:384px;height:200px;margin-right:24px;max-width:384px}
  .pic-show-each:last-child{margin-right:0}
}

@media screen and (max-width:768px){
  .page {min-width: 0;}
  .wrapper-slide{padding-top:0px}
  .slide-cnt .slidesjs-navigation{display:none}
  .pic-show-each{width:100%;margin:0;float:none;margin-bottom:10px}
  .wrapper-picshow{padding-top:10px}
  .wrapper-customPage{padding:70px 0 40px;}
  .wrapper-proList{margin-top:10px;}
  .wrapper-footer{margin-top:10px}
  .mod.slide{padding:0}
  .footer-payment{text-align:left;position:relative;width:100%;top:0;left:0;margin-top:10px}
  .footer-payment .footer-payment-icon {margin: 0 5px; font-size: 24px;}
  .footer-copyright{width:100%;margin-top:0}
  .footer-payment img{margin-left:0}
  .picshow-inner-list{max-width:384px;margin: auto;width:100%}
  .slidesjs-pagination{display:block}
}

/* è½»åšå®¢ */

/* è½»åšå®¢è¯¦æƒ…é¡µé¢ */


.ie_clearfix{display:none}
.ie6 .ie_clearfix,.ie7 .ie_clearfix{display:block;width:1px;height:0;line-height:0;font-size:0;clear:both}
.blog_cont_fix{margin-bottom:-10px}
.blog_cont{margin:0 auto;padding:0;max-width:100%;font-size:0;overflow:hidden}
.blog_cont p{margin-bottom:20px}
.blog_cont-article,.blog_cont-image,.blog_cont-music,.blog_cont-video,.blog_cont-tags,.blog_cont-info{padding:0}
.blog_cont-article-title{margin:0;padding:0;font-size:18px;line-height:24px;font-weight:bold;margin-bottom:20px}
.blog_cont-image-list{margin:0}
.blog_cont-image-list-item{margin:0 0 24px}
.blog_cont-image-list-item-src{display:block;width:auto;max-width:100%;margin:0 auto}
.ie6 .blog_cont-image-list-item-src{width:100%}
.blog_cont-image-list-item-desc{display:block;height:30px;line-height:30px;font-size:12px;text-align:center}
.blog_cont-music-item{ margin:0 -18px 40px; }
.blog_cont-music-item-disc{width:257px;height:257px;margin:0 auto 15px;position:relative}
.blog_cont-music-item-disc-img{display:block;width:257px;height:257px}
.blog_cont-music-item-disc-film{display:none;position:absolute;top:0;left:0;width:257px;height:257px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#04000000", endColorstr="#04000000");background-color:rgba(0,0,0,.2)}
.blog_cont-music-play{text-align: center; line-height: 0; margin: 4px 0 0;}
.blog_cont-music-name{display:block;text-align:center;font-weight:bold;height:20px;line-height:20px}
.blog_cont-music-info{text-align:center;line-height:20px}
.blog_cont-music-item-disc-play{display:none;background-position:0 -70px;background-image:url('//asset.ibanquan.com/s/78233/0/main?design_theme_id=0&v=1583843934_1583843934');background-repeat:no-repeat;width:100px;height:100px;margin:-50px 0 0 -50px;position:absolute;top:50%;left:50%}

@media screen and (max-width:768px){
  .blog_cont-music-item-disc-film{display: block;}
  .blog_cont-music-item-disc-play{display: block;}
  .blog_cont-music-play{ display: none;}
}

.blog_cont-video-src{margin:0 0 40px;width:100%}
.blog_cont-video-src iframe{width:100%}
@media screen and (max-width:768px){
  .blog_cont-video-src iframe{height:490px}
}
@media screen and (max-width:600px){
  .blog_cont-video-src iframe{height:400px}
}
@media screen and (max-width:490px){
  .blog_cont-video-src iframe{height:290px}
}
.blog_cont-tags{height:auto;line-height:24px;margin:20px 0}
.blog_cont-tags-icon{display:block;width:19px;height:18px;line-height:18px;margin-top:3px;float:left;background-image:url('//asset.ibanquan.com/s/78233/0/main?design_theme_id=0&v=1583843934_1583843934');background-position:-100px -70px;background-repeat:no-repeat}
.blog_cont-tags-item{margin-left:27px}
.blog_cont-tags-link{margin-right:8px;float:left}
.blog_cont-info{border-style:solid;border-width:0;border-top-width:1px;height:70px}
.blog_cont-info-author{display:block;float:left;height:32px;line-height:32px;margin:19px 0}
.blog_cont-info-author-avatar{vertical-align:middle;max-width:100%;max-height:100%;}
.blog_cont-info-author-link{height:32px;width:32px;display:block;background:#f7f7f7;border-radius:50%;overflow:hidden;font-size:0;text-align:center;float:left}
.ie6 .blog_cont-info-author-avatar{width:100%;height:100%;}
.blog_cont-info-author-name{margin-left:6px}
.blog_cont-info-author-name:visited {color: #212121}
.blog_cont-info-time{display:block;float:right;height:70px;line-height:70px;font-size:12px}

.blog_cont-info-time--share {padding: 15px 0 0; height: 59px; float: right;}
.blog_cont-info-time-date {font-size: 12px; height: 16px; line-height: 16px; text-align: right;}
.blog_cont-info-time-share a:first-child {margin: 6px;}
.blog_cont-info-time-share a.bds_more {margin: 6px 0;}

.blog_cont_nav{max-width:720px;margin:0 auto;height:16px;line-height:16px}
.ie6 .blog_cont_nav,.ie7 .blog_cont_nav{width:720px}
.blog_cont_nav a{font-size:14px;height:16px;line-height:16px}
.blog_cont_nav-action{display:block;float:right;height:16px}
.blog_cont_nav-action-prev,.blog_cont_nav-action-next,.blog_cont_nav-action-line{display:block;float:left;height:16px}
.blog_cont_nav-action-line{width:0;border-style:solid;border-left-width:1px;margin:0 16px}
.blog_cont-text img{max-width:100%}
.ie7 .blog_cont-text img,
.ie6 .blog_cont-text img{width:100%;}
/* è½»åšå®¢åˆ—è¡¨ */

.blogs-wrapper{padding:40px 0 60px;}
.blogs-wrapper .blogs-list{margin: 0; padding: 0;}
.blogs-list{width:100%;position:relative;}
.blogs-show-left{float:left;width:49.2%;}
.blogs-show-right{float:right;width:49.2%;}
.blogs-item{border-width:1px;border-style:solid;border-radius:5px;overflow:hidden;margin-bottom:20px;position:relative;transition:all .3s ease;}
.blogs-item:hover{box-shadow:0 0 10px 0 rgba(0, 0, 0, .2);}
.blogs-item .blog_cont-info{height:50px;}
.blogs-item .blog_cont-info-author{margin:9px 0}
.blogs-item .blog_cont-info-time{height:50px;line-height:50px;}
.blogs-item .blog_cont-info-author-name{font-size:14px;}

.blogs-item-video{margin:0 auto;width:88%;overflow:hidden;padding:6% 0;display:block;}
.blogs-item-video-player iframe{position:absolute;left:0;top:0;width:100%;height:100%;z-index:0}
.blogs-item-video-player{width:100%;padding-top:64%;position:relative;overflow:hidden;}
.blogs-item-video-link{z-index:1;position:absolute;left:0;top:0;width:100%;height:100%;display:block}
.ie6 .blogs-item-video-player{height:267px;margin-left:30px;padding-top:0;}
.ie6 .blogs-item-video-player iframe{position:relative;}
.ie7 .blogs-item-video-player{height:267px;padding-top:0;}
.ie7 .blogs-item-video-player iframe{position:relative;}
.ie8 .blogs-item-video-player{height:267px;padding-top:0;}
.ie8 .blogs-item-video-player iframe{position:relative;}

.blogs-list-org{height:0;overflow:hidden;}
.blogs-show{}

.blogs-item-article{margin:0 auto;width:88%;overflow:hidden;padding:6% 0;display:block}
.blogs-item-article:hover{text-decoration:underline}
.blogs-item-article-title{line-height:24px;font-size:18px;font-weight:700;}
.blogs-item-article-content{line-height:24px;font-size:14px;padding-top:2%;}

.blogs-item-image{margin:0 auto;width:88%;overflow:hidden;padding:6% 0;display:block;text-align:center;display:block}
.blogs-item-image-view{max-width:100%;}
.ie6 .blogs-item-image-view{width:100%}

.blogs-item-music{padding-bottom:48%;overflow:hidden;position:relative;}
.blogs-item-music-cover{position:absolute;left:0;top:0;width:36%;display:block;margin-left:6%;margin-top:6%;}
.blogs-item-music-cover img{display:block;width:100%;}
.blogs-item-music-name{height:24px;line-height:24px;font-size:18px;text-align:center;position:absolute;left:46%;top:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:50%;margin-top:18%;}
.blogs-item-music-name:hover{text-decoration:underline;}
.blogs-item-music-info{height:24px;line-height:26px;font-size:14px;text-align:center;position:absolute;left:46%;top:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:50%;margin-top:22%;}

@media screen and (max-width:768px){
  .blogs-show{display:none}
  .blogs-list-org{height:auto;overflow:visible;}
  .blogs-item-music-info{margin-top:24%;}
}

.blogs-author{padding:40px 0 0;width:141px;height:277px;position:relative;margin:0 auto;}
.blogs-author-avatar{position:absolute;left:0;top:46px;height:141px;width:141px;overflow:hidden;border-radius:50%;font-size:0;line-height:141px;text-align:center;background:#f7f7f7;}
.blogs-author-avatar img{max-width:100%;max-height:100%;vertical-align:middle;}
.ie6 .blogs-author-avatar img{width:100%;height:100%;}

.blogs-author-info{left:0;top:209px;position:absolute;height:56px;text-align:center;width:100%}
.blogs-author-info-name{height:30px;width:100%;line-height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:18px;}
.blogs-author-info-count{height:22px;width:100%;line-height:22px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px;}

.blogs-author-social{left:0;top:274px;position:absolute;text-align:center;width:100%}
.blogs-author-social-link{display:inline-block;height:26px;width:26px;margin:0 2px;background-image:url('//asset.ibanquan.com/s/78233/0/blog_social?design_theme_id=0&v=1583843934_1583843934');background-repeat:no-repeat;font-size:0}
.blogs-author-social-link-weibo{background-position:2px 2px}
.blogs-author-social-link-douban{background-position:4px -32px}
.blogs-author-social-link-renren{background-position:3px -69px}
.blogs-author-social-link-wechat{background-position:0 -106px}

.blogs-tag{padding-top:40px;}
.blogs-tag-text{font-size:28px;}


/* è´¦æˆ·ç®¡ç† - ç¤¾äº¤ç»‘å®š */

.account-login-inner .account-login-label .content-err {
  height: auto;
  line-height: 22px;
  padding: 6px 0;
}

h3.social_bind--border {
  border-width: 1px 0 0;
  border-style: solid;
  padding: 30px 0 16px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  h3.social_bind--border {
    margin: 30px 0 0;
  }
}

.social_bind {
  margin: 0;
  float: left;
  width: 100px;
}

@media screen and (max-width: 768px) {
  .social_bind {
    width: 33.333%;
  }
}

.social_bind-title {
  margin: 20px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.social_bind-img {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  width: 44px;
  margin: 0 auto;
}
.social_bind-name {
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
  line-height: 23px;
}
.social_bind-bind {
  width: 53px;
  height: 21px;
  line-height: 21px;
  border-color: #dddddd;
  border-width: 1px;
  border-style: solid;
  display: block;
  background-color: #f0f0f0;
  text-align: center;
  border-radius: 2px;
  font-size: 13px;
  color: #777777;
  margin: 10px auto;
}
.account-login-inner .account-login-form a.social_bind-bind:hover {
  text-decoration: none;
}
.account-login-inner .account-login-form .btn-submit{
  font-size: 13.3333330154419px;
}
.account-login-inner .content input {
  padding: 2px 10px;
  box-sizing: border-box;
}
.account-login-inner h3{
  font-size: 100%;
}
.account-type-name {
  line-height: 1;
}

/*éšè—æ‰‹æœºç«¯å®¢æœ*/
@media screen and (max-width: 768px){
  .online-service{display: none;}
}
/*å•†å“åˆ—è¡¨æè¿°*/
.proList-name{
  height: 20px;
}
.proList-desc{
  height: 44px;
}
.proList-short_desc{
  height: 22px;
  line-height: 22px;
  display: block;
}
.proList-price{
  height: 22px;
  line-height: 22px;
}
/*å•†å“è¯¦æƒ…æè¿°*/
.pro-detail-short_desc{
  font-size: 14px;
  margin-top: 7px;
  line-height: 22px;
  word-break: break-word;
  overflow-wrap: break-word;
}
.pro-detail-inner .pro-detail-price{
  margin-top: 30px !important;
}
@media screen and (max-width: 768px){
  .proList-short_desc{
    font-size: 13px;
  }
  .pro-detail-short_desc{
    margin-top: 10px;
    font-size: 13px;
  }
}

.discountDetail{
  margin-bottom: 10px;
}
@media screen and (max-width: 768px){
  .discountDetail{
    font-size: 14px;
  }
}

/*åº•éƒ¨å®‰å…¨è®¤è¯*/
#icp-icon {
  margin: 18px 0 0;
  list-style: none;
  overflow: hidden;
  float: right;
}
#icp-icon > li {
  float: left;
}
#icp-icon a {
  text-decoration: none;
  display: block;
  line-height: 17px;
  width: 50px;
  padding-left: 42px;
  font-size: 12px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  transition: opacity 0.3s;
  position: relative;
  margin-left : 20px;
}
#icp-icon a:before,
#icp-icon a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 34px;
  height: 34px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity 0.3s;
}
#icp-icon a:before {
  opacity: 0;
  filter: alpha(opacity=0);
}
#icp-icon a:hover:before {
  opacity: 1;
  filter: alpha(opacity=100);
}
#icp-icon a:hover:after {
  opacity: 0;
  filter: alpha(opacity=0);
}
@media screen and (max-width: 768px){
    #icp-icon {
        display: none;
    }
}



/* æ”¶è—åŠŸèƒ½ */
.pro-detail-gallery-other {
  margin-top: 10px;
  width: 455px;
  text-align: right;
}
.pro-detail-gallery-other .sharewrap {
  display: inline-block;
  vertical-align: middle;
}

.post-bottom .x-favorite {
  position: absolute;
  top: 1px;
  right: 0;
}
@media screen and (max-width: 768px){
  .pro-detail-gallery-other {
    margin-top: 15px;
    width: auto;
  }
  .post-bottom .x-favorite {
    position: static;
    margin: 1px 0 0 0;
  }
}
/* End æ”¶è—åŠŸèƒ½ */

@media screen and (max-width: 767px) {
.part_3-img-1 {
background-image: url("../image/mpart_3_1_img.png");
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./image/mpart_3_1_img.png',sizingMethod='scale');
}
}

@media screen and (min-width: 768px) {

.part_3-img-2 {
background-image: url("../image/part_3_2_img.jpeg");
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./image/part_3_2_img.jpeg',sizingMethod='scale');
}


.part_3-img-3 {
background-image: url("../image/part_3_3_img.jpeg");
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./image/part_3_3_img.jpeg',sizingMethod='scale');
}


.part_3-img-4 {
background-image: url("../image/part_3_4_img.jpeg");
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./image/part_3_4_img.jpeg',sizingMethod='scale');
}


.part_3-img-5 {
background-image: url("../image/part_3_5_img.jpeg");
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./image/part_3_5_img.jpeg',sizingMethod='scale');
}


.part_3-img-6 {
background-image: url("../image/part_3_6_img.jpeg");
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./image/part_3_6_img.jpeg',sizingMethod='scale');
}

.part_3-img-7 {
background-image: url("../iamge/part_3_7_img.jpeg");
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./iamge/part_3_7_img.jpeg',sizingMethod='scale');
}

}
.part_3-img{
line-height: 0;
}
.part_3--inner {
    position: absolute;
    bottom:60px;
    left: 0;
    width:100%;
    height: auto;
    z-index: 2;
    overflow: hidden;
}

.part3_text_wrap {
    display: block;
    margin: 0 auto;
    text-align: center;
    width:80%;
}

.part_3-text {
  font-family:"Uetop1";
    max-width:100%;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 auto 0;
    text-align:center;
    color:#fff;
  text-shadow: 1px 1px 1px rgba(59,59,59,.4), 0.5px 0.5px 0 rgba(59,59,59,.6);
}
.part_3-title{
 font-size:36px; 
 line-height:1;
}
.part_3-desc{
  font-size:16px;
  line-height:1.3;
  margin:10px auto;
  overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


.swiper-video,.part_3-img img{
    width:100%;
    height:auto;
}
@media (min-width:1024px){
.part_3-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.uetop_slider,.fadeOut .item,.fadeOut_mb .item{
padding-top:0;
height:100vh ;
}

.swiper-video {
    width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    object-fit: cover;
}} 
@media (min-width: 769px){
.div_wap{
  display:none!important;
}}

@media (max-width: 768px){

.div_pc{
  display:none!important;
}}


.Y1_collection_1_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y1_collection_2_a  .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}

.Y1_collection_3_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y1_collection_4_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y1_collection_5_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y1_collection_6_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}

.Y1_collection_7_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y1_collection_8_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y1_collection_9_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y1_collection_10_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y1_collection_11_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y1_collection_12_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y1_collection_13_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y1_collection_14_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y1_collection_15_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y1_collection_16_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y1_collection_17_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y1_collection_18_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y1_collection_19_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y1_collection_20_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y1_collection_21_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y1_collection_22_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y1_collection_23_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y1_collection_24_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y1_collection_25_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y1_collection_26_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y2_collection_1_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y2_collection_2_a  .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}

.Y2_collection_3_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y2_collection_4_a .img_inner{
  
  
  
  
}
.Y2_collection_5_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y2_collection_6_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y2_collection_7_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y2_collection_8_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y2_collection_9_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}

.Y2_collection_10_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y2_collection_11_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y2_collection_12_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y2_collection_13_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y2_collection_14_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y2_collection_15_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y2_collection_16_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y2_collection_17_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y2_collection_18_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y2_collection_19_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y2_collection_20_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y2_collection_21_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y2_collection_22_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y2_collection_23_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y2_collection_24_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y2_collection_25_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y2_collection_26_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y3_collection_1_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y3_collection_2_a  .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}

.Y3_collection_3_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y3_collection_4_a .img_inner{
  
  
  
  
}
.Y3_collection_5_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y3_collection_6_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y3_collection_7_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y3_collection_8_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y3_collection_9_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}

.Y3_collection_10_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y3_collection_11_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y3_collection_12_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y3_collection_13_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y3_collection_14_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y3_collection_15_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y3_collection_16_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y3_collection_17_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y3_collection_18_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y3_collection_19_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y3_collection_20_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y3_collection_21_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y3_collection_22_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y3_collection_23_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y3_collection_24_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y3_collection_25_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y3_collection_26_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y4_collection_1_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y4_collection_2_a  .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}

.Y4_collection_3_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y4_collection_4_a .img_inner{
  
  
  
  
}
.Y4_collection_5_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y4_collection_6_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y4_collection_7_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y4_collection_8_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y4_collection_9_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}

.Y4_collection_10_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y4_collection_11_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y4_collection_12_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y4_collection_13_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y4_collection_14_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y4_collection_15_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y4_collection_16_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y4_collection_17_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y4_collection_18_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y4_collection_19_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y4_collection_20_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y4_collection_21_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y4_collection_22_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y4_collection_23_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y4_collection_24_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y4_collection_25_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y4_collection_26_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y5_collection_1_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y5_collection_2_a  .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}

.Y5_collection_3_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y5_collection_4_a .img_inner{
  
  
  
  
}
.Y5_collection_5_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y5_collection_6_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y5_collection_7_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y5_collection_8_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}

.Y5_collection_9_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}

.Y5_collection_10_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y5_collection_11_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y5_collection_12_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y5_collection_13_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y5_collection_14_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y5_collection_15_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y5_collection_16_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y5_collection_17_a .img_inner{
  
  
  
  padding: 10% 14% 0;
  
  
}
.Y5_collection_18_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y5_collection_19_a .img_inner{
  
  
  
  
  padding:40% 20% 0 0;
  
}
.Y5_collection_20_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y5_collection_21_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y5_collection_22_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y5_collection_23_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}
.Y5_collection_24_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y5_collection_25_a .img_inner{
  
  
   padding: 20% 6% 0 20%;
  
  
  
}
.Y5_collection_26_a .img_inner{
  
  padding:40% 10% 0 0;
  
  
  
  
}



.swiper-pagination-bullet{
  width:18px;height:2px;border-radius:0;margin:0 3px;
}
.swiper-pagination-bullet-active{opacity:1;background:#fff}

.swiper-button-prev,.swiper-button-next{
 font-size:26px;background:none;
}
.fadeOut_mb .swiper-button-prev,.fadeOut_mb .swiper-button-next{
 color:#ffffff 
}
:focus {
    outline: -webkit-focus-ring-color auto 0;
}
.fancybox-content{
  background:none!important;height:100%;
}


.blog-imge-wraper img{
 height:100%;
}

.blog_cont-image-list .swiper-container {
    background: none;text-align:center;
}
.fancybox-button--arrow_right,.fancybox-button--arrow_left{
  display:none!important;
}
.fancybox-slide--iframe .fancybox-content{
  height:100%!important;overflow:hidden!important;
}




.part_3-img{
  height:100vh;
}
.part_3-img img,.part_3-img .swiper-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    object-fit: cover;
}

.fancybox-bg{
  background:#fff!important;
}
.fancybox-slide--html {
    padding: 0!important;
}