/* æ¸…é™¤å†…å¤–è¾¹è· */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements ç»“æž„å…ƒç´  */
dl, dt, dd, ul, ol, li, /* list elements åˆ—è¡¨å…ƒç´  */
pre, /* text formatting elements æ–‡æœ¬æ ¼å¼å…ƒç´  */
fieldset, lengend, button, input, textarea, /* form elements è¡¨å•å…ƒç´  */
th, td { /* table elements è¡¨æ ¼å…ƒç´  */
    margin: 0;
    padding: 0;
}

/* è®¾ç½®é»˜è®¤å­—ä½“ */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "å®‹ä½“", sans-serif;*/
  /*  font: 12px/1 "å¾®è½¯é›…é»‘"; *//*Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;*/ /* ç”¨ ascii å­—ç¬¦è¡¨ç¤ºï¼Œä½¿å¾—åœ¨ä»»ä½•ç¼–ç ä¸‹éƒ½æ— é—®é¢˜ */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* å°†æ–œä½“æ‰¶æ­£ */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* ç»Ÿä¸€ç­‰å®½å­—ä½“ */
small { font-size: 12px; } /* å°äºŽ 12px çš„ä¸­æ–‡å¾ˆéš¾é˜…è¯»ï¼Œè®© small æ­£å¸¸åŒ– */

/* é‡ç½®åˆ—è¡¨å…ƒç´  */
ul, ol { list-style: none; }

/* é‡ç½®æ–‡æœ¬æ ¼å¼å…ƒç´  */
a { text-decoration: none; }
a:hover { text-decoration: none; }

abbr[title], acronym[title] { /* æ³¨ï¼š1.ie6 ä¸æ”¯æŒ abbr; 2.è¿™é‡Œç”¨äº†å±žæ€§é€‰æ‹©ç¬¦ï¼Œie6 ä¸‹æ— æ•ˆæžœ */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* é‡ç½®è¡¨å•å…ƒç´  */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img æ­è½¦ï¼šè®©é“¾æŽ¥é‡Œçš„ img æ— è¾¹æ¡† */
/* æ³¨ï¼šoptgroup æ— æ³•æ‰¶æ­£ */
button, input, select, textarea {
    font-size: 100%; /* ä½¿å¾—è¡¨å•å…ƒç´ åœ¨ ie ä¸‹èƒ½ç»§æ‰¿å­—ä½“å¤§å° */
}

/* é‡ç½®è¡¨æ ¼å…ƒç´  */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* é‡ç½® hr */
hr {
    border: none;
    height: 1px;
}

/* è®©éžieæµè§ˆå™¨é»˜è®¤ä¹Ÿæ˜¾ç¤ºåž‚ç›´æ»šåŠ¨æ¡ï¼Œé˜²æ­¢å› æ»šåŠ¨æ¡å¼•èµ·çš„é—ªçƒ */
html { overflow-y: scroll; }