.moblie {
    display: none !important;
}

body {
    text-transform: uppercase;
}

.banner {
    margin-bottom: 40px;
}

.index_3_main .Tit_main {
    margin-top: 30px;
}

.Tit_main {
    margin-bottom: 40px;
    text-align: center;
}

.Tit_main h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 2;
}

.Tit_main span {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 2px;
    background-color: #c29859;
}

.w-change {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1000px;
}

#index_1_main {
    width: 100%;
    margin: 0 auto 30px;
    max-width: 1100px;
    min-width: 1000px;
}

.index_1_box {
    height: 570px;
    position: relative;
}

.index_1_box .img {
    position: absolute;
    width: 450px;
    height: 570px;
    padding: 10px 11px;
    border: 1px solid #fafafa;
    overflow: hidden;
}

.index_1_box .img img {
    position: relative;
    z-index: 33;
}

.index_1_box .img:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../img/1-2.png);
    width: 450px;
    height: 570px;
    display: block;
    transform: scale(0.94);
    transition: all 0.2s linear;
}

.index_1_box .img:hover:before {
    transform: scale(1);
}

.index_1_top {
    padding-left: 600px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.index_1_top .img {
    top: 0;
    left: 0;
}

.index_1_bottom {
    padding-right: 600px;
    padding-top: 20px;
    height: 490px;
}

.index_1_bottom .img {
    bottom: 0;
    right: 0;
}

.index_1_box .text {
    width: 100%;
    text-transform: uppercase;
}

.bgf7f8fa {
    background-color: #f7f8fa;
    text-align: center;
    line-height: 2;
    padding-bottom: 40px;
}

.index_1_box .text img {
    margin-bottom: 20px;
}

.index_1_box .text .txt {
    width: 90%;
    max-width: 505px;
    margin: 0 auto;
    background-color: #fff;
    font-size: 14px;
    color: #666;
    padding: 0 21px 20px;
    transition: all 0.2s linear;
}

.index_1_box .text .txt p {
    padding: 10px 0;
    font-weight: lighter;
}

.index_1_box .text p.tit {
    width: auto;
    max-width: 505px;
    margin: 0 auto 10px;
    font-size: 20px;
    padding: 10px 40px 0;
}

a.more {
    background-image: url('../img/more.png');
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    cursor: pointer;
    color: #c29859;
    transition: all 0.2s linear;
}

a.more:hover {
    background-color: #c29859;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transform: translateX(-2px) translateY(-2px);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.index_1_box a.more {
    background-image: url('../img/more.png');
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    cursor: pointer;
    color: #c29859;
    transition: all 0.2s linear;
}

.index_1_box .text:hover a.more {
    background-color: #c29859;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transform: translateX(-2px) translateY(-2px);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
    background-image: none;
    border: none;
}

.index_1_box .text:hover .txt {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.index_2 {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url('../img/1-12.jpg');
    padding-top: 50px;
    padding-bottom: 60px;
}

.index_2_tit h2 {
    font-size: 38px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.3);
    margin-bottom: 30px;
}

.index_2_tit h2 span {
    display: block;
    font-size: 14px;
    font-weight: lighter;
}

.index_2_nav {
    margin-bottom: 30px;
}

.index_2_nav ul {
    text-align: center;
    font-size: 0;
    line-height: 42px;
    height: 42px;
}

.index_2_nav ul li {
    display: inline-block;
    *display: inline;
    margin: 0 20px;
    zoom: 1;
    width: 200px;
    height: 42px;
    background-image: url('../img/1-13.png');
    text-align: center;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 14px;
    transition: all text-shadow 0.2s linear;
    cursor: pointer;
}

.index_2_nav ul li.on {
    background-color: #c29859;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transform: translateX(-2px) translateY(-2px);
}

.index_2_nav ul li:hover {
    background-color: #c29859;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transform: translateX(-2px) translateY(-2px);
}

.index_2_tab {
    display: none;
}

.index_2_tab.on {
    display: block;
}

.list_4 li {
    width: 25%;
    float: left;
}

.list_4 li img {
    overflow: hidden;
    transition: all 0.5s linear;
}

.list_4.ex-list li img {
    width: 280px;
    height: 450px;
    overflow: hidden;
    transition: all 0.5s linear;
}

.list_4.ex-list li .list_container:hover img {
    transform: scale(1.2);
}

.list_5 li {
    width: 20%;
    float: left;
}

.list li div.list_container {
    width: 98%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.ex-list.list li div.list_container {
    width: 93%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.index_2_container .list_container div.text {
    width: 200px;
    background-color: #fff;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -100px;
    z-index: 3;
    line-height: 2;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    transition: 0.3s linear all;
    transform: translateY(150%);
    /*text-shadow: 2px 1px 2px rgba(0,0,0,0.4);*/
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.index_2_container div.text span {
    display: block;
    position: absolute;
    left: 12px;
    bottom: -15px;
    width: 4px;
    height: 30px;
    background-color: #000;
    transition: all 0.4s linear;
    transition-delay: 0.2s;
    transform: translateY(40%);
    opacity: 0;
}

.index_2_container li:hover .list_container div.text {
    transform: translateY(0%);
}

.index_2_container li:hover div.text span {
    transform: translateY(0%);
    opacity: 1;
}

.index_news {
    position: relative;
    margin-bottom: 40px;
}

.index_news .index_newsL {
    width: 50%;
    float: left;
    padding-right: 20px;
}

.index_news .indx_newsList {
    width: 50%;
    float: right;
    padding-left: 20px;
}

.index_news .indx_newsList li {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.index_news .indx_newsList li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 10px;
}

.indx_newsList .inner p {
    height: 42px;
    overflow: hidden;
}

.index_newsL .inner p {
    height: 42px;
    overflow: hidden;
}

div.inner p.lead {
    font-size: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 2;
    text-transform: capitalize;
}

div.inner p.samll {
    font-size: 14px;
    color: #999;
    font-weight: lighter;
    line-height: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

p.text {
    font-size: 14px;
    color: #666;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: initial;
}

.index_news a.more {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.footer {
    background-color: #333;
    color: #afafaf;
}
.footer .icp{text-align:center;padding-bottom:10px;}

.footer .w-change {
    position: relative;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.footer .w-change ul.footer_link {
    position: absolute;
    left: 10px;
    top: 0;
    height: 72px;
    font-size: 14px;
}

.footer p span {
    text-transform: lowercase;
}

.footer ul.footer_link li span {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7px;
    background-color: #afafaf;
    width: 1px;
    height: 14px;
}

.footer .w-change ul li {
    float: left;
    /*position: relative;*/
}

.footer .w-change ul.footer_link li {
    position: relative;
}

.footer ul.footer_link li a {
    display: block;
    padding: 0 20px;
    cursor: pointer;
}

.footer ul.footer_link li a:hover {
    color: #fff;
}

.footer .footerTool {
    position: absolute;
    top: 9px;
    right: 20px;
    height: 36px;
}

.footer .footerTool a {
    display: block;
    width: 36px;
    height: 36px;
    border: 1px solid #afafaf;
    border-radius: 100%;
    margin: 0 10px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s linear;
}

.footerTool a.sina {
    background-image: url('../img/sinablog_gray.png');
}

.footerTool a.webchat {
    background-image: url('../img/webchat_gray.png');
}

.footerTool a.facebook {
    background-image: url('../img/facebook_gray.png');
}

.footerTool a.Instagram {
    background-image: url('../img/Instagram.png');
}

.footer .footerTool a:hover {
    border: 1px solid #fff;
}

.footerTool a.sina:hover {
    background-image: url('../img/sinablog_white.png');
}

.footerTool a.webchat:hover {
    background-image: url('../img/webchat_white.png');
}

.footerTool a.facebook:hover {
    background-image: url('../img/facebook_white.png');
}

.footerTool a.Instagram:hover {
    background-image: url('../img/Instagram-w.png');
}

.ul li img {
    max-width: none;
}

.ul .twoCode {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 119%;
    left: 50%;
    margin-left: -51px;
    display: none;
}

.ul li:hover .twoCode {
    display: block;
}

.footerTool .twoCode {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 119%;
    left: 50%;
    margin-left: -132px;
    display: none;
}

.footerTool li:hover .twoCode {
    display: block;
}

.header {
    height: 121px;
    border-bottom: 1px solid #d4d4d4;
}

.heade_main {
    padding-top: 30px;
    position: relative;
    padding-bottom: 10px;
}

.header .headerTool {
    position: absolute;
    top: 40px;
    left: 20px;
}

.header .headerTool li {
    float: left;
    /*position: relative;*/
}

.header .headerTool a {
    display: block;
    width: 25px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.header .headerTool a .img {
    opacity: 0.9;
    transition: all 0.5s linear;
}

.header .headerTool a:hover .img {
    opacity: 1;
}

.header .headerTool .twoCode {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 112%;
    left: 50%;
    margin-left: -113px;
    display: none;
    z-index: 10;
}

.header .headerTool li:hover .twoCode {
    display: block;
}

.header h1 img {
    display: block;
    margin: 0 auto;
}

.header .language {
    position: absolute;
    right: 10px;
    top: 40px;
    color: #999;
    font-size: 0;
}

.header .language a.on {
    color: #333;
}

.header .language a {
    position: relative;
    padding: 0 10px;
    font-size: 16px;
}

.header .language a i {
    display: block;
    position: absolute;
    height: 16px;
    width: 1px;
    background-color: #333;
    top: 50%;
    margin-top: -8px;
    right: 0;
}

.nav ul {
    font-size: 0;
    text-align: center;
}

.nav ul li:hover a.navOption,
.nav ul li.on a.navOption,
.nav ul li:hover a.pc,
.nav ul li.on a.pc {
    font-weight: 600;
}

.nav ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 14px;
    line-height: 42px;
    position: relative;
    width: 16%;
}

.nav ul li a {
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.nav ul li .sunNav {
    width: 80%;
    position: absolute;
    top: 100%;
    left: 10%;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #eee;
    display: none;
}

.nav ul li .sunNav a {
    line-height: 52px;
    border-bottom: 1px solid #eee;
    width: 80%;
    margin: 0 auto;
}

.nav ul li .sunNav a:last-child {
    border: 0;
}

.nav ul li i {
    background-image: url('../img/nav-jt.png');
    display: none;
    width: 12px;
    height: 9px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.newsList p.text {
    margin-bottom: 10px;
    line-height: 2;
    max-height: 58px;
    text-transform: initial;
}

.newsList a.more {
    margin: 0;
    background-color: #fff;
    background-image: url('../img/more-1.png');
    /*border: 1px solid #000;*/
    color: #333;
}

.newsList a.more:hover {
    background-color: #000;
    color: #fff;
}

.newsList li {
    position: relative;
    height: 280px;
    background-color: #eef0ef;
    padding: 30px 0;
    margin-bottom: 40px;
}

.newsList li .img {
    position: absolute;
    width: 520px;
    height: 280px;
    overflow: hidden;
}

.newsList li .inner {
    position: relative;
    z-index: 2;
    background-color: #fff;
    height: 100%;
    padding: 20px 60px;
    transition: all 0.2s linear;
}

.newsList li:nth-child(odd) {
    padding-left: 30%;
    padding-right: 3%;
}

.newsList li:nth-child(odd) .img {
    left: 0;
    top: 0;
}

.newsList li:nth-child(odd):hover div.inner {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /*transform: translateX(-40px);*/
}

.newsList li:nth-child(even) {
    padding-right: 30%;
    padding-left: 3%;
}

.newsList li:nth-child(even) .img {
    right: 0;
    top: 0;
}

.newsList li:nth-child(even):hover div.inner {
    /*transform: translateX(40px);*/
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}

#exhibition-1 {
    width: 90%;
    margin: 0 auto;
}

#exhibition-1 img {
    display: block;
    width: 100%;
}

.exhibition_2 img {
    display: block;
    width: 100%;
}

.exhibition_2 {
    margin-bottom: 40px;
}

.exhibition {
    padding-top: 40px;
}

.exhibition_1 {
    margin-bottom: 40px;
}

.exhibition_1 .inner_l {
    padding: 30px 0 0 30px;
    width: 50%;
    float: left;
}

.exhibition_1 .inner_r {
    width: 50%;
    float: right;
}

.exhibition_1 .inner_l p {
    font-size: 14px;
    color: #666;
    line-height: 26px;
    text-transform: none;
    margin-top: 10%;
    text-align: justify;
    min-height: 300px;
}

.exhibition_1 hr {
    width: 86px;
    height: 2px;
    color: #333;
    background-color: #333;
    margin-top: 10%;
}

.exhibition .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px;
    filter: Alpha(Opacity=50);
    /*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
}

.exhibition .owl-controls .owl-page.active span,
.exhibition .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    opacity: 1;
}

.exhibition_3 .w-change {
    position: relative;
    padding-bottom: 100px;
}

.exhibition_3 .w-change img {
    display: block;
}

.ex_3_left {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    padding: 60px 40px;
    text-transform: none;
}

.ex_3_left .ex_3_lead {
    font-size: 26px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #16000e;
}

.ex_3_left .ex_3_small {
    font-size: 20px;
    line-height: 48px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #221e1f;
}

.ex_3_left .ex_3_text {
    font-size: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #16000e;
    text-transform: uppercase;
}

.ex_3_right {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    padding: 60px 40px;
    text-transform: none;
    text-align: center;
}

.ex_3_right .ex_3_lead {
    font-size: 26px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #16000e;
    text-transform: capitalize;
}

.ex_3_right .ex_3_small {
    font-size: 20px;
    line-height: 48px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #221e1f;
}

.ex_3_right .ex_3_text {
    font-size: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #16000e;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.ex_3_right span {
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 35px;
    background-image: url('../img/3-17.png');
}

.exhibition_4 {
    padding: 150px 0;
    background-image: url('../img/3-18.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

.exhibition_5 {
    margin-bottom: 40px;
}

.exhibition_5 .ex_4_list .left.l {
    width: 48%;
    margin-right: 2%;
    overflow: hidden;
}

.exhibition_5 .ex_4_list img {
    width: 580px;
    height: 400px;
    transition: all 0.5s linear;
}

.exhibition_5 .ex_4_list img:hover {
    transform: scale(1.2);
}

.exhibition_5 .ex_4_list .right.r {
    width: 48%;
    margin-left: 2%;
    overflow: hidden;
}

.exhibition_6 img {
    display: block;
    width: 50%;
    float: left;
}

.exhibition_6 .outter {
    position: absolute;
    width: 450px;
    left: 75%;
    margin-left: -225px;
    top: 50%;
}

.exhibition_6 {
    background-color: #000;
}

.exhibition_6 .inner {
    position: relative;
    height: auto;
    text-transform: none;
}

.exhibition_6 .inner h2 {
    font-weight: normal;
    font-size: 50px;
    color: #fff;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    min-width: 450px;
    text-transform: uppercase;
}

.exhibition_6 .inner p.small {
    font-weight: bold;
    font-size: 18px;
    color: #999;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    min-width: 450px;
}

.exhibition_6 .inner p.text {
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 45%;
    min-width: 450px;
}

.exhibition_6 .inner p.text:last-child {
    margin-bottom: 0;
}

a.item {
    display: block;
    position: relative;
}

.exhibition_7 img {
    position: relative;
    z-index: 6;
    display: block;
}

.exhibition_a {
    display: block;
    margin: 70px auto 30px;
    width: 160px;
    height: 160px;
    position: relative;
}

.exhibition_href:before {
    content: "";
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    animation: scale 2s linear infinite;
    -webkit-animation: scale 2s linear infinite;
    -moz-animation: scale 2s linear infinite;
    -o-animation: scale 2s linear infinite;
    -ms-animation: scale 2s linear infinite;
    background-image: url(../img/3-21.png);
    /*background-color:#c29859;*/
    opacity: 0.5;
    z-index: 4;
}

.exhibition_href1:before {
    content: "";
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    animation: scale 2s linear infinite;
    -webkit-animation: scale 2s linear infinite;
    -moz-animation: scale 2s linear infinite;
    -o-animation: scale 2s linear infinite;
    -ms-animation: scale 2s linear infinite;
    background-image: url(../img/5-12.png);
    /*background-color:#c29859;*/
    opacity: 0.5;
    z-index: 4;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-o-keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-ms-keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.exhibition_7 {
    text-align: center;
    padding-bottom: 60px;
}

.exhibition_7 h2 {
    margin: 0 auto 30px;
}

.exhibition_7 span {
    width: 120px;
    display: block;
    height: 2px;
    margin: 0 auto 40px;
    background-color: #000;
}

.exhibition_7 ul {
    text-align: center;
    font-size: 0;
    margin-bottom: 15px;
}

.exhibition_7 li {
    display: inline-block;
    width: auto;
    margin: 0 20px;
    position: relative;
}

.exhibition_7 li a {
    display: block;
    width: 36px;
    height: 36px;
    border: 1px solid #666;
    border-radius: 100%;
    margin: 0 10px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.2s linear;
}

.exhibition_7 li a.sina {
    background-image: url('../img/sinablog_gray.png');
}

.exhibition_7 li a.webchat {
    background-image: url('../img/webchat_gray.png');
}

.exhibition_7 li a.facebook {
    background-image: url('../img/facebook_gray.png');
}

.exhibition_7 li a.Instagram {
    background-image: url('../img/Instagram.png');
}

.exhibition_7 li a.sina:hover {
    background-image: url('../img/sina.png');
}

.exhibition_7 li a.webchat:hover {
    background-image: url('../img/webchat.png');
}

.exhibition_7 li a.facebook:hover {
    background-image: url('../img/facebook.png');
}

.exhibition_7 li a.Instagram:hover {
    background-image: url('../img/in.png');
}

.exhibition_7 .P-text {
    margin-top: 10px;
    color: #666;
    font-size: 16px;
    text-transform: capitalize;
}

.exhibition_href.exhibition_a {
    font-size: 0;
    display: inline-block;
    margin: 70px 30px;
}

.exhibition_href .mg {
    width: 160px;
    height: 160px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.about-top ul {
    font-size: 0;
    text-align: center;
    margin-bottom: 40px;
}

.about-top ul li {
    display: inline-block;
    width: 300px;
    margin: 0 40px;
    font-weight: lighter;
    line-height: 2;
    position: relative;
    padding-left: 90px;
    height: 90px;
    text-align: left;
}

.about-top ul li .table {
    height: 90px;
}

.about-top ul li img {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -33px;
    left: 0;
}

.about-top ul li p {
    font-size: 18px;
    line-height: 30px;
}

.about-top ul li p.small {
    font-size: 14px;
    color: #666;
}

.about-container {
    position: relative;
    padding-left: 30px;
    height: 600px;
}

.about-container .img {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    opacity: 0;
    transition: all 0.2s linear;
    /*height: 334px;
        overflow: hidden;*/
}

.about-container .about-address.on {
    padding-bottom: 29px;
}

.about-address.on .img {
    opacity: 1;
}

.about-container .about-address {
    padding-left: 15px;
    width: 46%;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    min-width: 460px;
    transition: all 0.4s linear;
}

.about-container h3 {
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
    margin-bottom: 15px;
    cursor: pointer;
}

.about-container h3:hover {
    color: #c29859;
}

.about-address ul {
    display: none;
}

.about-address.on ul {
    display: block;
}

.about-container li {
    position: relative;
    height: 36px;
    line-height: 36px;
    padding-left: 30px;
    color: #221e1f;
    font-size: 14px;
}

.about-container li img {
    position: absolute;
    top: 8px;
    left: 0;
}

.proNav {
    margin-top: 40px;
    margin-bottom: 40px;
}

.proList .list li {
    margin-bottom: 10px;
}

.proList .list li .list_img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: progid: DXImageTransform.Microsoft.BasicImage(grayscale=1);
    _filter: none;
    transition: 0.3s linear all;
}

.list_img a img {
    width:280px;
    height:420px;
}


.proList li:hover .list_img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: progid: DXImageTransform.Microsoft.BasicImage(grayscale=0);
    _filter: none;
    transition: 0.3s linear all;
}

.proList .list_container div.text {
    width: 190px;
    background-color: #fff;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -95px;
    z-index: 3;
    line-height: 2;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    transition: 0.3s linear all;
    transform: translateY(150%);
    /*text-shadow: 2px 1px 2px rgba(0,0,0,0.4);*/
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.proList div.text span {
    display: block;
    position: absolute;
    left: 12px;
    bottom: -15px;
    width: 4px;
    height: 30px;
    background-color: #000;
    transition: all 0.4s linear;
    transition-delay: 0.2s;
    transform: translateY(40%);
    opacity: 0;
}

.proList li:hover .list_container div.text {
    transform: translateY(0%);
}

.proList li:hover div.text span {
    transform: translateY(0%);
    opacity: 1;
}

.List {
    display: none;
}

.proNavBox {
    position: relative;
    padding-left: 108px;
    min-height: 36px;
    text-transform: none;
}

.proNavBox .type {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 36px;
    width: 100px;
    font-size: 16px;
}

.proNavBox ul li {
    float: left;
    padding-top: 8px;
}

.proNavBox ul li a {
    display: block;
    padding: 0 10px;
    line-height: 20px;
    color: #221e1f;
    margin-right: 30px;
    cursor: pointer;
}

.proAlphabet {
    margin-bottom: 10px;
}

.proAlphabet ul li a {
    margin-right: 10px;
}

.proNavBox ul li a.on {
    color: #fff;
    background-color: #221e1f;
}

.proNavBox ul li a:hover {
    color: #fff;
    background-color: #221e1f;
}

.proNavBox ul li.all a {
    margin-right: 30px !important;
}

.proSreach .sreachBox {
    font-size: 0;
}

.proSreach .sreachBox input[type="text"] {
    width: 160px;
    border: 1px solid #d4d4d4;
    border-right: 0;
    height: 36px;
    padding-left: 10px;
    line-height: 34px;
    font-size: 16px;
    color: #999;
    vertical-align: middle;
}

.proSreach .sreachBox input[type="button"] {
    border: 0;
    height: 36px;
    width: 36px;
    vertical-align: middle;
    background: #221e1f url('../img/sreach.png') center no-repeat;
}

.proShowBanner {
    background-image: url('../img/5-1.jpg');
    height: 400px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.proShowBanner .w-change {
    height: 400px;
    position: relative;
}

.breadCumb {
    position: absolute;
    top: 50%;
    left: 5%;
    color: #fff;
    line-height: 1;
    margin-top: -36px;
}

.breadCumb h3 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.breadCumb p {
    line-height: 20px;
    vertical-align: middle;
    font-size: 0;
}

.breadCumb img {
    vertical-align: middle;
    margin-right: 20px;
    display: inline-block;
}

.breadCumb a {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 14px;
}

.breadCumb span {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 14px;
}

.proShowNav ul li {
    float: left;
}

.proShowNav ul li a {
    /*width: 110px;*/
    display: block;
    line-height: 72px;
    height: 72px;
    color: #999;
    font-size: 16px;
    padding-right: 65px;
}

.proShowNav ul li.on a {
    color: #333;
}

.proShowNav {
    position: relative;
    height: 72px;
    border-bottom: 1px solid #d4d4d4;
    text-transform: none;
}

.proShowNav a.download {
    position: absolute;
    height: 18px;
    top: 50%;
    margin-top: -9px;
    right: 0;
    padding-left: 30px;
    font-size: 14px;
    color: #999;
    display: block;
    font-size: 16px;
    line-height: 18px;
    background-image: url('../img/5-3.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.proShowNav a:hover {
    color: #333;
    cursor: pointer;
}

#owl-demo-proShow .owl-controls .owl-buttons div {
    font-size: 0;
    width: 22px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    display: block;
}

#owl-demo-proShow .owl-controls .owl-buttons div.owl-prev {
    font-size: 0;
    width: 22px;
    height: 40px;
    background: url('../img/prev.png');
    left: 0;
}

.proShowC {
    position: relative;
    margin: 40px auto;
}

.proShowC .img {
    float: right;
    width: 50%;
}

.proShowC .text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
}

#owl-demo-proShow .item {
    padding: 0 40px;
}

#owl-demo-proShow .owl-controls .owl-buttons div.owl-next {
    font-size: 0;
    width: 22px;
    height: 40px;
    background: url('../img/next.png');
    right: 0;
}

.proShowC .text h3 {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 40px;
    font-weight: lighter;
}

.proShowC .text li {
    vertical-align: middle;
    font-size: 18px;
    color: #999;
    line-height: 30px;
}

.proShowC .text li span {
    min-width: 150px;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
}

.proShowC .text li span:last-child {
    color: #333;
}

.polaroiols {
    margin: 20px 0;
}

.polaroiols li {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.polaroiols li .list_img img {
    width: 100%;
    display: block;
}

.polaroiols li .text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s ease-in all;
}

.polaroiols li:hover .text {
    opacity: 1;
}

.polaroiols li .text .border {
    position: absolute;
    z-index: 8;
    width: 250px;
    height: 368px;
    top: 50%;
    left: 50%;
    margin-top: -184px;
    margin-left: -125px;
    transition: 0.4s ease-in all;
    transform: scale(1.6);
}

.polaroiols li:hover .text .border {
    transform: scale(1);
}

.polaroiols li .text .fdj {
    position: absolute;
    z-index: 9;
    width: 68px;
    height: 68px;
    top: 50%;
    left: 50%;
    margin-top: -34px;
    margin-left: -34px;
    background-image: url('../common-img/5-6.png');
    transition: 0.4s ease-in all;
    transform: scale(0);
}

.polaroiols li:hover .text .fdj {
    transform: scale(1);
}

.tk {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100%;
    display: none;
}

.tk .none {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
}

.tk .img {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -250px;
    z-index: 999;
}

.tk .img img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.tk .close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    z-index: 999;
}

.tk .close:before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 1px;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    transform: rotateZ(45deg);
    background-color: #fff;
}

.tk .close:after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
    border-radius: 5px;
    width: 30px;
    height: 4px;
    transform: rotateZ(-45deg);
    background-color: #fff;
}

.loadWrapGif {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.loadWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image:url(../img/homeback.jpg);
    background-repeat:no-repeat;
    background-position:center;


}

.loadWrap span {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    background-color: #fff;
    opacity: 0.4;
}

.logo_load {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px 50px;
    width: 239px;
    height: 148px;
    margin-top: -74px;
    margin-left: -120px;
    z-index: 7;
    transition: all 0.2s linear;
    overflow: hidden;
    cursor: pointer;
}

.logo_load img {
    animation: down linear 1s;
}

.logo_load a {
    position: absolute;
    bottom: 30px;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    color: #ccc;
    vertical-align: middle;
    line-height: 24px;
    height: 24px;
    font-size: 14px;
    transition: all 0.2s linear;
    animation: up linear 1s;
}

.logo_load a i {
    background-image: url('../img/arrow-load.png');
    width: 20px;
    height: 16px;
    margin-left: 30px;
    transition: all 0.2s linear;
    display: inline-block;
    vertical-align: middle;
}


/*.logo_load:hover {
        background-color:rgba(255,255,255,0.6)
    }*/

.loadWrap .logo_load:hover a {
    color: #221e1f;
}

.loadWrap .logo_load:hover a i {
    background-image: url('../img/arrow-load2.png');
}

@keyframes down {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes up {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0%);
    }
}

.videoTit h3 {
    line-height: 2;
    font-size: 42px;
    font-weight: lighter;
    text-align: center;
    font-weight: 300;
}

.videoC {
    text-align: center;
    margin: 0 auto;
}

.videoBox {
    width: 50%;
    text-align: center;
    float: left;
    padding: 0 1%;
}

.videoBox img {
    margin: 0 auto;
}

.videoBox h4 {
    font-size: 32px;
    font-weight: lighter;
    font-weight: 300;
    margin-bottom: 10px;
}

.videoBox p {
    font-size: 14px;
    font-weight: lighter;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 28px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: none;
    color: #333;
}

.videoBox span {
    color: #221e1f;
    display: block;
    margin-bottom: 40px;
}

.videoBox span i {
    font-style: normal;
}

.videoBox a {
    display: block;
    margin-bottom: 40px;
    position: relative;
}

.videoBox .bofang {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -58px;
    margin-top: -62px;
    width: 112px;
    height: 112px;
    opacity: 0.7;
    transition: all 0.3s linear;
}

.videoBox a:hover .bofang {
    opacity: 1;
}

.proDetail .list_container div.text {
    width: 200px;
    background-color: #fff;
    position: absolute;
    /*bottom: 30px;*/
    left: 50%;
    margin-left: -100px;
    z-index: 3;
    line-height: 2;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    transition: 0.3s linear all;
    transform: translateY(0%);
    /*text-shadow: 2px 1px 2px rgba(0,0,0,0.4);*/
    height: 48px;
    opacity: 1;
    border: 1px solid #eee;
}

.proDetail div.text span {
    display: block;
    position: absolute;
    left: 12px;
    bottom: -15px;
    width: 4px;
    height: 30px;
    background-color: #000;
    transition: all 0.4s linear;
    transition-delay: 0.2s;
    transform: translateY(0%);
    opacity: 0;
}

.proDetail li:hover .list_container div.text {
    /*transform: translateY(0%);*/
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.prolist .list_container p a {
    display: block;
}

.prolist .list_container {
    min-height: 58px;
}

.proDetail li {
    margin-bottom: 20px;
    min-height: 48px;
}


/*.proDetail li:hover div.text span {
        transform: translateY(0%);
        opacity: 1;
    }*/

.proDetail .list li .list_img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: progid: DXImageTransform.Microsoft.BasicImage(grayscale=1);
    _filter: none;
    transition: 0.3s linear all;
}

.proDetail li:hover .list_img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: progid: DXImageTransform.Microsoft.BasicImage(grayscale=0);
    _filter: none;
    transition: 0.3s linear all;
}

.proDetailC {
    text-transform: none;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}

.proDeText {
    min-height: 600px;
}

.proDeText p {
    font-size: 16px;
}

.proDeText img {
    margin: 0 auto;
}

.proDeTit {
    padding: 20px 0 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
}

.proDeTit h3 {
    font-size: 28px;
    font-weight: normal;
    line-height: 2;
}

.proDeTit span {
    position: absolute;
    right: 0;
    bottom: 10px;
    cursor: pointer;
}

.proDeTit p {
    color: #666;
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
}

.proDePage {
    color: #666;
}

.proDePage p {
    line-height: 2;
}

.joinWrap .joinInput {
    position: relative;
    margin-bottom: 20px;
    width: 420px;
    padding-left: 120px;
}

.joinWrap .joinInput span {
    position: absolute;
    left: 20px;
    top: 0;
    width: 90px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    padding-left: 10px;
}

.joinWrap .joinInput input {
    display: block;
    width: 100%;
    height: 36px;
    line-height: 34px;
    padding: 0 10px;
    border: 1px solid #d4d4d4;
}

.joinWrap .joinInputBig .joinInput {
    float: left;
}

.joinWrap .joinInput input[type="submit"] {
    display: block;
    width: 150px;
    height: 36px;
    border: 0;
    background-color: #221e1f;
    color: #fff;
    font-size: 16px;
    transition: all 0.2s linear;
}

.joinWrap .joinInput input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transform: translateX(-2px) translateY(-2px);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.joinWrap .joinInput #preview {
    display: block;
    min-width: 140px;
    min-height: 140px;
    position: relative;
}

.joinWrap .joinInput #preview .table {
    width: 140px;
    min-height: 140px;
    border: 1px solid #d4d4d4;
}

.joinWrap .joinInput #preview .table img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

.file {
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    border: 0;
    position: absolute;
    bottom: 0;
    line-height: 36px;
    left: 110%;
    width: 120px;
    display: block;
    text-align: center;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.join {
    margin-bottom: 60px;
}

.joinbox ul {
    font-size: 0;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

.joinbox li {
    border: 1px solid #e5e5e5;
    width: 48%;
    min-height: 245px;
    max-width: 460px;
    margin: 0 20px;
    text-transform: none;
    min-width: 440px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-size: 14px;
    padding: 16px 0 20px;
    vertical-align: middle;
}

.joinbox li img {
    margin: 0 auto;
    margin-bottom: 13px;
}

.joinbox li span {
    font-size: 18px;
    color: #666;
}

.joinbox li em {
    width: 28px;
    height: 1px;
    background-color: #c29859;
    display: block;
    margin: 7px auto 14px;
}

.joinbox li p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    line-height: 2;
}

.joinbox li a {
    display: block;
    width: 150px;
    height: 36px;
    border: 0;
    background-color: #221e1f;
    color: #fff;
    font-size: 16px;
    line-height: 36px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s linear;
}

.joinbox li a:hover {
    background-color: #000;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transform: translateX(-2px) translateY(-2px);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}


/*cafe*/

.cafe {
    width: 100%;
    height: 100%;
    /*background-image:url(../img/5-13.jpg);*/
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.cafe .mb {
    display: none;
}