.pc {
    display: none !important;
}
.proShowBanner.none{
    display:none!important;
}
a.item {
    display: block;
}

body {
    text-transform: uppercase;
    font-family: Microsoft YaHei,Arial,Arial, Helvetica, sans-serif;
}

.Tit_main {
    margin-bottom: 20px;
    text-align: center;
}

    .Tit_main h2 {
        font-size: 20px;
        font-weight: normal;
        line-height: 2;
    }

    .Tit_main span {
        display: block;
        width: 100px;
        margin: 0 auto;
        height: 2px;
        background-color: #c29859;
    }

.banner img {
    width: 100%;
}

#index_1_main {
    padding: 10px 0;
}

.index_1_top {
    float: left;
    width: 3rem;
}

.index_1_bottom {
    float: right;
    width: 3rem;
}

.index_1_box .img:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../img/1-2.png);
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}

a.more {
    display: block;
    margin: 0 auto;
    width: 112px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    background-size: cover;
    background-image: url('../img/more.png');
    color: #333;
}

/*a.more:hover {
        background-color: #c29859;
        color: #fff;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
        transform: translateX(-2px) translateY(-2px);
    }*/

.index_1_box p.tit {
    width: 100%;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #3b3e43;
    font-weight: 400;
    margin-bottom: 5px;
}

.index_1_box .img {
    margin-bottom: 10px;
    position: relative;
    padding: 0.1rem;
    width: 2.9rem;
    height: 3.67rem;
}

.banner {
    margin-bottom: 20px;
}

.index_1_box img {
    display: block;
}

.index_1_box .text img {
    margin-bottom: 10px;
}

.index_2 .w-change {
    padding: 0;
}

.index_2_main {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url('../img/1-12.jpg');
    padding: 10px;
}

.index_2 img {
    display: block;
}

.index_2_tit h2 {
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    text-shadow: 1px 2px 3px rgba(255,255,255,0.3);
    margin-bottom: 10px;
}

    .index_2_tit h2 span {
        display: block;
        font-size: 12px;
        font-weight: lighter;
    }

.index_2_nav ul li {
    width: 49%;
    float: left;
    zoom: 1;
    margin-right: 2%;
    height: 32px;
    border: 1px solid #c29859;
    text-align: center;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 14px;
    transition: all 0.2s linear;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 30px;
    vertical-align: top;
    overflow: hidden;
}

@media only screen and (max-width:360px) {
    .index_2_nav ul li .list_container div.text {
        font-size: 0.2rem;
    }

    .proList ul.list li .list_container div.text {
        font-size: 0.2rem;
    }
}

.index_newsL {
    margin-bottom: 10px;
}

.index_2_nav ul li:nth-child(even) {
    margin-right: 0;
    float: right;
}

.index_2_nav ul li.on {
    background-color: #c29859;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.index_2_tab {
    display: none;
}

    .index_2_tab.on {
        display: block;
    }

.list li {
    width: 49%;
    margin-bottom: 10px;
    position: relative;
}

    .list li:nth-child(odd) {
        float: left;
    }

    .list li:nth-child(even) {
        float: right;
    }


.index_2_container .list_container div.text {
    width: 90%;
    background-color: #fff;
    position: absolute;
    bottom: 30px;
    left: 5%;
    z-index: 3;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
}

.fakeloader {
    width: 200px;
    height: 80px;
    text-align: center;
    /*background: #D0E9C6;
  border-radius: 50px;*/
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    position: fixed;
    z-index: 1001;
    display: none;
}

.index_2_container div.text span {
    display: block;
    position: absolute;
    left: 12px;
    bottom: -15px;
    width: 4px;
    height: 30px;
    background-color: #000;
}

.index_news {
    margin-bottom: 20px;
}

    .index_news .indx_newsList li {
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }

        .index_news .indx_newsList li:last-child {
            margin-bottom: 0;
            border-bottom: none;
            padding-bottom: 10px;
        }

div.inner p.lead {
    font-size: 16px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 2;
}

div.inner p.samll {
    font-size: 12px;
    color: #999;
    font-weight: lighter;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

div.inner p.text {
    font-size: 14px;
    color: #666;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.footer {
    background-color: #333;
    color: #afafaf;
    padding: 5px 0;
}

    .footer .w-change {
        position: relative;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
    }

    .footer p span {
        text-transform: lowercase;
        display: block;
    }

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%); /* IE 9 */
    transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%); /* IE 9 */
    transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%); /* IE 9 */
    transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0); /* IE 9 */
    transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }
/* end Preloader */
#page {
    padding-top: 72px;
}

.header {
    /*height: 72px;*/
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
}

.heade_main {
    padding-top: 10px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.header h1 img {
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 20px;
}

.header .language {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -9px;
    color: #999;
    height: 18px;
    font-size: 0;
}

    .header .language a.on {
        color: #333;
    }

    .header .language a {
        position: relative;
        padding: 0 5px;
        font-size: 12px;
        line-height: 18px;
    }

        .header .language a i {
            display: block;
            position: absolute;
            height: 12px;
            width: 1px;
            background-color: #333;
            top: 50%;
            margin-top: -6px;
            right: 0;
        }

.nav ul {
    font-size: 0;
    text-align: center;
    padding: 0 10px;
}

    .nav ul li {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        font-size: 12px;
        line-height: 31px;
        position: relative;
        width: 30%;
    }

        .nav ul li a {
            display: block;
            width: 100%;
            text-align: center;
            cursor: pointer;
            vertical-align: middle;
        }

        .nav ul li .sunNav {
            width: 130px;
            position: absolute;
            top: 100%;
            z-index: 888;
            background-color: #fff;
            border: 1px solid #eee;
            display: none;
        }

            .nav ul li .sunNav a {
                line-height: 31px;
                border-bottom: 1px solid #eee;
                width: 90%;
                margin: 0 auto;
            }

                .nav ul li .sunNav a:last-child {
                    border: 0;
                }

        .nav ul li i {
            background-image: url('../img/nav-jt.png');
            width: 12px;
            height: 9px;
            margin-left: 5px;
            display: inline-block;
            vertical-align: middle;
            background-position: center center;
            background-repeat: no-repeat;
        }

.newsList img {
    display: block;
    width: 100%;
}

.newsList li {
    margin-bottom: 10px;
}

.exhibition .owl-controls .owl-page span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 5px;
    filter: Alpha(Opacity=50); /*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
}

.exhibition .owl-controls .owl-page.active span,
.exhibition .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100); /*IE7 fix*/
    opacity: 1;
}

.exhibition_1 .inner_l {
    margin-bottom: 10px;
}

    .exhibition_1 .inner_l img {
        width: 50%;
        margin: 0 auto 10px;
    }

    .exhibition_1 .inner_l p {
        font-size: 12px;
        text-align: justify;
        text-transform: none;
        color: #666;
        text-indent: 2em;
    }

.exhibition_2 img {
    display: block;
    width: 100%;
}

.exhibition_3 {
    margin-bottom: 10px;
}

#exhibition-1 {
    margin-bottom: 10px;
}

#exhibition-3 {
    margin-bottom: 10px;
}


.exhibition_3 .ex_3_lead {
    font-size: 16px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #16000e;
}

.exhibition_3 .ex_3_small {
    font-size: 12px;
    line-height: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #221e1f;
}

.exhibition_3 .ex_3_text {
    font-size: 14px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #16000e;
    text-transform: uppercase;
}


.ex_3_right span {
    display: block;
    margin: 10px auto 0;
    width: 29px;
    height: 25px;
    background-size: cover;
    background-image: url('../img/3-17.jpg');
}

#exhibition-5 {
    margin-bottom: 20px;
}

    #exhibition-5 img {
        display: block;
        width: 100%;
    }

.w-change {
    padding: 0 10px;
}

.exhibition_6 img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}

.exhibition_6 a.item:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.6);
}

.exhibition_6 .outter {
    position: absolute;
    width: 80%;
    left: 10%;
    z-index: 3;
    top: 50%;
}

.exhibition_6 {
    background-color: #000;
}

    .exhibition_6 .inner {
        position: relative;
        height: auto;
        text-transform: none;
    }

        .exhibition_6 .inner h2 {
            font-weight: normal;
            font-size: 24px;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
        }

        .exhibition_6 .inner p.small {
            font-weight: bold;
            font-size: 14px;
            color: #999;
            text-align: center;
            margin-bottom: 20px;
        }

        .exhibition_6 .inner p.text {
            font-weight: normal;
            font-size: 12px;
            color: #fff;
            margin: 0 auto;
            margin-bottom: 10px;
        }

            .exhibition_6 .inner p.text:last-child {
                margin-bottom: 0;
            }

a.item {
    display: block;
    position: relative;
}

.exhibition_6 {
    margin: 0 auto 20px;
    width: 6.4rem;
}

.exhibition_7 img {
    display: block;
    width: 1.6rem;
}
.exhibition_7 .ul img{
    display:none;
}

.exhibition_href .mg{
    width:1.6rem;
    height:1.6rem;
    display:inline-block;
    *display:inline;
    zoom:1;
}

.exhibition_a {
    display: block;
    margin: 20px auto;
    width: 1.6rem;
    position: relative;
}

.exhibition_href.exhibition_a{
    font-size:0;
    display:inline-block;
    margin:35px 15px;
}


.exhibition_href:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    animation: scale 2s linear infinite;
    -webkit-animation: scale 2s linear infinite;
    -moz-animation: scale 2s linear infinite;
    -o-animation: scale 2s linear infinite;
    -ms-animation: scale 2s linear infinite;
    background-image: url(../img/3-21.png);
    /*background-color:#c29859;*/
    opacity: 0.5;
    z-index: 4;
    background-position: center;
    background-size: cover;
}

.exhibition_href1:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    animation: scale 2s linear infinite;
    -webkit-animation: scale 2s linear infinite;
    -moz-animation: scale 2s linear infinite;
    -o-animation: scale 2s linear infinite;
    -ms-animation: scale 2s linear infinite;
    background-image: url(../img/5-12.png);
    /*background-color:#c29859;*/
    opacity: 0.5;
    z-index: 4;
}


@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@-moz-keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@-o-keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@-ms-keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.exhibition_7 {
    text-align: center;
    padding-bottom: 10px;
}

    .exhibition_7 h2 {
        margin: 0 auto 10px;
        font-size: 14px;
    }

    .exhibition_7 span {
        width: 120px;
        display: block;
        height: 2px;
        margin: 0 auto 10px;
        background-color: #000;
    }

    .exhibition_7 ul {
        text-align: center;
        font-size: 0;
        margin-bottom: 10px;
    }

    .exhibition_7 li {
        display: inline-block;
        width: auto;
        margin: 0 10px;
        position: relative;
    }

        .exhibition_7 li a {
            display: block;
            width: 36px;
            height: 36px;
            border: 1px solid #666;
            border-radius: 100%;
            margin: 0 10px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: all 0.2s linear;
        }

            .exhibition_7 li a.sina {
                background-image: url('../img/sina.png');
            }

            .exhibition_7 li a.webchat {
                background-image: url('../img/webchat.png');
            }

            .exhibition_7 li a.facebook {
                background-image: url('../img/facebook.png');
            }
            .exhibition_7 li a.Instagram {
                background-image: url('../img/in.png');
            }

    .exhibition_7 .P-text {
        margin-top: 5px;
        color: #666;
        font-size: 14px;
    }

.about-top ul {
    font-size: 0;
    text-align: center;
}

    .about-top ul li {
        display: block;
        margin: 0 auto 10px;
        width: 300px;
        font-weight: lighter;
        line-height: 2;
        position: relative;
        padding-left: 90px;
        height: 90px;
        text-align: left;
    }

        .about-top ul li .table {
            height: 90px;
        }

        .about-top ul li img {
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -33px;
            left: 0;
        }

        .about-top ul li p {
            font-size: 18px;
            line-height: 30px;
        }

            .about-top ul li p.small {
                font-size: 14px;
                color: #666;
            }

.about-container .img {
    transition: all 0.2s linear;
    overflow: hidden;
}


.about-container .about-address {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    transition: all 0.4s linear;
}

.about-container h3 {
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
}


.about-container li {
    position: relative;
    line-height: 36px;
    padding-left: 30px;
    color: #221e1f;
    font-size: 12px;
}

    .about-container li img {
        position: absolute;
        top: 8px;
        left: 0;
    }

.proNav {
    position: relative;
    background-color: #fff;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    margin: 40px 0 20px;
    padding: 0 10px;
}

.proList .w-change {
    padding: 0;
}

.proList .list {
    padding: 0 10px;
}

.proNav.kur {
    width: 100%;
    position: fixed;
    z-index: 6;
    top: 72px;
    margin-top: 0;
}

.proNav .proNavBox {
    float: left;
    position: relative;
    line-height: 28px;
    font-size: 14px;
    height: 28px;
    width: 32%;
}

    .proNav .proNavBox ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding-left: 3%;
        z-index: 6;
        font-size: 12px;
        line-height: 1.5;
        background-color: #fff;
        border: 1px solid #333;
        max-height: 400px;
        overflow: auto;
        min-width: 80px;
        display: none;
    }

    .proNav .proNavBox.proSreach {
        position: absolute;
        right: 10px;
        top: 0;
        height: 28px;
    }

    .proNav .proNavBox .type:before {
        background-image: url('../img/nav-jt.png');
        width: 12px;
        height: 9px;
        display: block;
        vertical-align: middle;
        background-position: center center;
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -4.5px;
    }

    .proNav .proNavBox.proSreach {
        width: 16px;
    }

    .proNav .proNavBox p.sreachIcon {
        position: absolute;
        background-image: url('../img/mb/sreach.png');
        width: 16px;
        height: 16px;
        top: 6px;
        right: 0;
        background-size: 16px 16px;
    }

.proSreach .sreachBox {
    font-size: 0;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 8;
    width: 126px;
    display: none;
}

    .proSreach .sreachBox input[type="text"] {
        width: 100px;
        border: 1px solid #333;
        border-right: 0;
        height: 26px;
        padding-left: 10px;
        line-height: 34px;
        font-size: 12px;
        color: #999;
        vertical-align: middle;
    }

    .proSreach .sreachBox input[type="button"] {
        border: 0;
        height: 26px;
        width: 26px;
        vertical-align: middle;
        background: #221e1f url('../img/sreach.png') center no-repeat;
        background-size: 16px 16px;
    }

.proList .list_container div.text {
    width: 90%;
    background-color: #fff;
    position: absolute;
    bottom: 30px;
    left: 5%;
    z-index: 3;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
}

.proList div.text span {
    display: block;
    position: absolute;
    left: 12px;
    bottom: -15px;
    width: 4px;
    height: 30px;
    background-color: #000;
}

.proShowBanner {
    background-image: url('../img/5-1.jpg');
    height: 200px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

    .proShowBanner .w-change {
        height: 200px;
        position: relative;
    }

.breadCumb {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #fff;
    line-height: 1;
    margin-top: -36px;
}

    .breadCumb h3 {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: lighter;
    }

    .breadCumb p {
        line-height: 20px;
        vertical-align: middle;
        font-size: 0;
    }

    .breadCumb img {
        vertical-align: middle;
        margin-right: 10px;
        display: inline-block;
    }

    .breadCumb a {
        vertical-align: middle;
        margin-right: 5px;
        font-size: 12px;
    }

    .breadCumb span {
        vertical-align: middle;
        margin-right: 5px;
        font-size: 12px;
    }

.proShowNav ul li {
    float: left;
    width: 30%;
}

    .proShowNav ul li a {
        width: 100%;
        display: block;
        line-height: 36px;
        height: 36px;
        color: #999;
        font-size: 16px;
        text-align: center;
    }

    .proShowNav ul li.on a {
        color: #333;
    }

.proShowNav {
    position: relative;
    height: 36px;
    border-bottom: 1px solid #d4d4d4;
    text-transform: none;
}

    .proShowNav a.download {
        position: absolute;
        height: 18px;
        top: 50%;
        margin-top: -9px;
        right: 0;
        padding-left: 20px;
        font-size: 14px;
        color: #999;
        display: block;
        line-height: 18px;
        background-image: url('../img/5-3.png');
        background-repeat: no-repeat;
        background-position: center;
    }

#owl-demo-proShow .owl-controls .owl-buttons div {
    font-size: 0;
    width: 22px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    display: block;
    margin: 0;
    padding: 0;
    opacity: 1;
}

    #owl-demo-proShow .owl-controls .owl-buttons div.owl-prev {
        font-size: 0;
        width: 16.5px;
        height: 30px;
        background: url('../img/prev.png');
        left: 0;
        background-size: 16.5px 30px;
        background-position: center;
        background-repeat: no-repeat;
    }

.proShowC {
    position: relative;
    margin: 20px auto;
}

    .proShowC .img {
        margin-bottom: 20px;
    }

#owl-demo-proShow .item {
    padding: 0 10px;
}

#owl-demo-proShow .owl-controls .owl-buttons div.owl-next {
    font-size: 0;
    width: 16.5px;
    height: 30px;
    background: url('../img/next.png');
    right: 0;
    background-size: 16.5px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.proShowC .text h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: lighter;
}

.proShowC .text li {
    vertical-align: middle;
    font-size: 0;
    color: #999;
    line-height: 30px;
    float: left;
    width: 50%;
    padding-right: 10px;
}

    .proShowC .text li span {
        width: 50%;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        text-transform: capitalize;
    }

        .proShowC .text li span:last-child {
            color: #333;
        }

.polaroiols {
    padding: 10px 0;
}

    .polaroiols li {
        position: relative;
        margin-bottom: 10px;
    }

.polaroiols {
    margin: 20px 0;
}

    .polaroiols li {
        position: relative;
        margin-bottom: 10px;
        overflow: hidden;
    }

        .polaroiols li .list_img img {
            width: 100%;
            display: block;
        }

        .polaroiols li .text {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4;
            background-color: rgba(0,0,0,0.35);
            width: 100%;
            height: 100%;
            transition: 0.4s ease-in all;
        }

        .polaroiols li:hover .text {
            opacity: 1;
        }

        .polaroiols li .text .border {
            position: absolute;
            z-index: 8;
            width: 2.5rem;
            height: 3.68rem;
            top: 50%;
            left: 50%;
            margin-top: -1.84rem;
            margin-left: -1.25rem;
            background-size: cover;
        }

        .polaroiols li .text .fdj {
            position: absolute;
            z-index: 9;
            width: 0.68rem;
            height: 0.68rem;
            top: 50%;
            left: 50%;
            margin-top: -0.34rem;
            background-size: cover;
            margin-left: -0.34rem;
            background-image: url('../../common-img/5-6.png');
        }

.tk {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100%;
    display: none;
}

    .tk .none {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        height: 100%;
        background-color: #000;
        opacity: 0.6;
    }

    .tk .img {
        width: 5rem;
        height: 6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -3rem;
        margin-left: -2.5rem;
        z-index: 999;
    }

        .tk .img img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 100%;
        }

    .tk .close {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        width: 30px;
        height: 30px;
        overflow: hidden;
        z-index: 999;
    }

        .tk .close:before {
            content: "";
            display: block;
            position: absolute;
            top: 15px;
            left: 1px;
            width: 30px;
            height: 4px;
            border-radius: 5px;
            transform: rotate(45deg);
            background-color: #fff;
        }

        .tk .close:after {
            content: "";
            display: block;
            position: absolute;
            top: 15px;
            right: 0;
            border-radius: 5px;
            width: 30px;
            height: 4px;
            transform: rotate(-45deg);
            background-color: #fff;
        }

.videoTit h3 {
    line-height: 2;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    font-weight: 300;
}

.videoBox h4 {
    font-size: 16px;
    font-weight: lighter;
    font-weight: 300;
    line-height: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.videoC {
    padding-top: 20px;
}

.videoBox p {
    font-size: 12px;
    font-weight: lighter;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-transform: none;
    color: #333;
}

.videoBox a {
    display: block;
}

.videoBox {
    margin-bottom: 20px;
}

.proDetailC {
    text-transform: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}

.proDeText {
    min-height: 600px;
}

.proDeTit {
    border-bottom: 1px solid #eee;
    text-align: center;
    text-transform: uppercase;
}

    .proDeTit h3 {
        font-size: 14px;
        font-weight: normal;
        line-height: 2;
    }

    .proDeTit p {
        color: #666;
        font-size: 12px;
        font-weight: normal;
        line-height: 2;
    }

.proDePage {
    color: #666;
}

    .proDePage p {
        font-size: 12px;
        line-height: 2;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

.joinWrap .joinInput {
    position: relative;
    margin-bottom: 10px;
    width: 5rem;
    padding-left: 100px;
}

    .joinWrap .joinInput span {
        position: absolute;
        left: 20px;
        top: 0;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        padding-left: 10px;
    }

    .joinWrap .joinInput input {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 28px;
        padding: 0 10px;
        border: 1px solid #d4d4d4;
    }

        .joinWrap .joinInput input[type="submit"] {
            display: block;
            width: 150px;
            height: 30px;
            border: 0;
            background-color: #221e1f;
            color: #fff;
            font-size: 14px;
            background-color: #000;
            color: #fff;
        }

    .joinWrap .joinInput #preview {
        display: block;
        min-width: 140px;
        min-height: 140px;
        position: relative;
        margin-bottom: 50px;
    }

        .joinWrap .joinInput #preview .table {
            width: 140px;
            min-height: 140px;
            border: 1px solid #d4d4d4;
        }

            .joinWrap .joinInput #preview .table img {
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
                display: block;
            }

.file {
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    border: 0;
    position: absolute;
    bottom: -40px;
    line-height: 30px;
    left: 20%;
    width: 80px;
    display: block;
    text-align: center;
}

    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }

    .file:active {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }

.loadWrapGif {
    max-width: none;
    width: auto;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}

.loadWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image:url(../img/homebackmobile.jpg);
    background-repeat:no-repeat;
    background-position:center;
}

    .loadWrap span {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 6;
        background-color: #fff;
        opacity: 0.4;
    }

.logo_load {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px 50px;
    width: 239px;
    height: 148px;
    margin-top: -74px;
    margin-left: -120px;
    z-index: 7;
    transition: all 0.2s linear;
    overflow: hidden;
    cursor: pointer;
}

    .logo_load img {
        animation: down linear 1s;
    }

    .logo_load a {
        position: absolute;
        bottom: 30px;
        left: 0;
        display: block;
        width: 100%;
        text-align: center;
        color: #ccc;
        vertical-align: middle;
        line-height: 24px;
        height: 24px;
        font-size: 14px;
        transition: all 0.2s linear;
        animation: up linear 1s;
    }

        .logo_load a i {
            background-image: url('../img/arrow-load.png');
            width: 20px;
            height: 16px;
            margin-left: 30px;
            transition: all 0.2s linear;
            display: inline-block;
            vertical-align: middle;
        }
/*.logo_load:hover {
        background-color:rgba(255,255,255,0.6)
    }*/
.loadWrap .logo_load:hover a {
    color: #221e1f;
}

    .loadWrap .logo_load:hover a i {
        background-image: url('../img/arrow-load2.png');
    }

@keyframes down {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes up {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}



/*#page {
    background-color: #f7f7f7;
}*/

.joinbox ul {
    font-size: 0;
    text-align: center;
    margin: 0 auto;
}

.joinbox li {
    border: 1px solid #e5e5e5;
    width: 6rem;
    background-color: #fff;
    min-height: 245px;
    text-transform: none;
    margin-bottom: 23px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-size: 14px;
    padding: 16px 0 20px;
    vertical-align: middle;
}

    .joinbox li img {
        margin: 0 auto;
        margin-bottom: 13px;
    }

    .joinbox li span {
        font-size: 18px;
        color: #666;
    }

    .joinbox li em {
        width: 28px;
        height: 1px;
        background-color: #c29859;
        display: block;
        margin: 7px auto 14px;
    }

    .joinbox li p {
        font-size: 16px;
        color: #666;
        margin-bottom: 10px;
        line-height: 2;
    }

    .joinbox li a {
        display: block;
        width: 150px;
        height: 36px;
        border: 0;
        background-color: #221e1f;
        color: #fff;
        font-size: 16px;
        line-height: 36px;
        margin: 0 auto;
        cursor: pointer;
        transition: all 0.2s linear;
    }

        .joinbox li a:hover {
            background-color: #000;
            color: #fff;
            text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
            transform: translateX(-2px) translateY(-2px);
            box-shadow: 5px 10px 5px rgba(0,0,0,0.3);
        }


/*cafe*/

.cafe{
    width:100%;
    height:100%;
    /*background-image:url(../img/mb/5-13.jpg);*/
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.cafe .pc{
    display:none;
}
